/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }
 }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; }
 }

.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }
/* --- EASYDROPDOWN DEFAULT THEME --- */

/* PREFIXED CSS */

.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after{
	-webkit-transition: transform 250ms ease-in-out, height 250ms ease;
	-moz-transition: transform 250ms ease-in-out, height 250ms ease;
	-ms-transition: transform 250ms ease-in-out, height 250ms ease;
	transition: transform 250ms ease-in-out, height 250ms ease;
}

.dropdown .selected::after,
.dropdown.scrollable div::after{
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}

/* WRAPPER */

.dropdown{
    display: inline-block;
	position: relative;
	width: 190px;
    margin-right: -4px;
	cursor: pointer;
	background: transparent;
    padding: 15px;
    border: 1px solid transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

    vertical-align: top;
}

.dropdown:hover,
.dropdown.open {
    border-color: #9eca16;
}

.dropdown.open {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.dropdown:hover .selected,
.dropdown.open .selected {
    color: #9eca16;
}

.dropdown:hover .carat,
.dropdown.open .carat {
    border-color: #9eca16 transparent transparent transparent;
}

.dropdown.open{
	z-index: 2;
}


/* CARAT */

.dropdown .carat{
	position: absolute;
	right: 12px;
	top: 50%;
	margin-top: -1px;
    border-style: solid;
    border-width: 5px 4.5px 0 4.5px;
    border-color: #666 transparent transparent transparent;
    -webkit-transition: transform 0.25s ease;
    -o-transition: transform 0.25s ease;
    transition: transform 0.25s ease;
}

.dropdown.open .carat{
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.dropdown.disabled .carat{
	border-top-color: #999;
}

/* OLD SELECT (HIDDEN) */

.dropdown .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}

.dropdown select{
	position: absolute;
	left: 0px;
	top: 0px;
}

.dropdown.touch .old{
	width: 100%;
	height: 100%;
}

.dropdown.touch select{
	width: 100%;
	height: 100%;
	opacity: 0;
}

/* SELECTED FEEDBACK ITEM */

.dropdown .selected,
.dropdown li{
	display: block;
	font-size: 16px;
	line-height: 1;
	color: #666;
	overflow: hidden;
	white-space: nowrap;
}

.dropdown.disabled .selected{
	color: #999;
}


/* DROP DOWN WRAPPER */

.dropdown div{
	position: absolute;
	height: 0;
	left: -1px;
	right: -1px;
	top: 100%;
	margin-top: 5px;
	background: transparent;
    border: none;
	border-radius: 0 0 3px 3px;
	overflow: hidden;
	opacity: 0;
    box-shadow: 0px 4px 11px 3px rgba(0, 0, 0, 0.05);
}

/* Height is adjusted by JS on open */

.dropdown.open div{
	opacity: 1;
	z-index: 2;
    border: 1px solid #9eca16;
}

/* FADE OVERLAY FOR SCROLLING LISTS */

.dropdown.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;

	box-shadow: inset 0 -50px 30px -35px #fff;
}

.dropdown.scrollable.bottom div::after{
	opacity: 0;
}

/* DROP DOWN LIST */

.dropdown ul{
    padding: 0;
    margin: 0;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
}

.dropdown.scrollable.open ul{
	overflow-y: auto;
}

/* DROP DOWN LIST ITEMS */

.dropdown li{
	list-style: none;
	padding: 10px;
}

/* .focus class is also added on hover */

.dropdown li.focus{
	color: #9eca16;
}

.dropdown li.active{
	color: #9eca16;
}
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after,
div:after,
nav:after,
header:after,
section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
address {
  font-style: normal;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
strong,
b {
  font-family: 'Ubuntu', 'Open Sans', sans-serif;
  font-weight: 500;
}
figure,
dl,
dd {
  margin: 0;
}
hr {
  width: 100%;
  height: 1px;
  margin: 0;
  background: #666666;
  opacity: 0.16;
  border: none;
}
a {
  text-decoration: none;
  color: #666666;
}
a:hover {
  color: #9eca16;
}
small {
  font-size: 13px;
  color: #333333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Ubuntu', 'Open Sans', sans-serif;
}
h1,
.h1 {
  font: 80px/90px 'Georgia', 'PT Serif', serif;
  font-family: 'Georgia', 'PT Serif', serif;
  font-weight: 400;
}
h2,
.h2 {
  font-size: 42px;
  font-weight: 300;
}
h3,
.h3 {
  font-size: 30px;
  font-weight: 500;
}
h4,
.h4 {
  font-size: 22px;
  font-weight: 300;
}
h5,
.h5 {
  font-size: 16px;
  font-weight: 500;
}
h6,
.h6 {
  font-size: 14px;
  font-weight: 300;
}
p {
  font: 16px/24px 'Ubuntu', 'Open Sans', sans-serif;
  font-weight: 300;
}
main {
  padding-top: 72px;
}
main > section h1 {
  text-align: center;
}
body {
  font-family: 'Ubuntu', 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #666666;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-font-smoothing: subpixel-antialiased !important;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hover-opacity:hover {
  opacity: 0.8;
}
.ghost-letters,
.ghost-letters span {
  position: relative;
}
.ghost-letters span {
  z-index: 1;
}
.block-cols .block-col {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
.block-cols.block-cols-6 .block-col {
  width: 16.66666667%;
}
.block-cols.block-cols-5 .block-col {
  width: 20%;
}
.block-cols.block-cols-4 .block-col {
  width: 25%;
}
.block-cols.block-cols-3 .block-col {
  width: 33.33333333%;
}
.block-cols.block-cols-2 .block-col {
  width: 50%;
}
.block-cols.block-cols-1 .block-col {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 768px) {
  h1,
  .h1 {
    font-size: 50px;
    line-height: normal;
  }
  .ghost-letters:before,
  .ghost-letters:after {
    content: none !important;
  }
}
.button {
  position: relative;
  display: inline-block;
  height: 60px;
  padding-right: 10px;
  overflow: hidden;
  transition: padding 0.25s ease;
}
.button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  border: 1px solid #9eca16;
  z-index: 1;
  transition: background 0.25s ease;
}
.button:before {
  content: url('../img/icon-rarrow-white.png');
  position: absolute;
  top: 50%;
  right: -100px;
  width: 8px;
  height: 15px;
  transform: translate(50%, -50%);
  transition: right 0.2s ease;
  z-index: 2;
}
.button span {
  display: block;
  margin-top: 18px;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  background: #ffffff;
  color: #9eca16;
  z-index: 2;
  transition: font-size 0.25s ease, background 0.05s ease-in-out;
}
.button:hover {
  padding-right: 70px;
}
.button:hover:after {
  background: #9eca16;
}
.button:hover:before {
  right: 30px;
}
.button:hover span {
  font-size: 12px;
  background: transparent;
}
.button:active:after {
  background: #b0e119;
  border-color: #b0e119;
}
.button:active span {
  color: #b0e119;
}
.button-simple {
  display: inline-block;
  padding: 20px 10px;
  color: #9eca16;
  border: 1px solid #9eca16;
  transition: all 0.25s ease;
}
.button-simple:hover {
  color: #ffffff;
  background: #9eca16;
}
input,
textarea {
  outline: none;
}
main input[type=text],
main input[type=email],
main input[type=password],
main input[type=datetime],
main textarea {
  display: block;
  width: 100%;
  padding: 15px;
  color: #8e8e8e;
  border: 1px solid #c1c1c1;
  border-radius: 3px;
}
main input[type=text]::-webkit-input-placeholder,
main input[type=email]::-webkit-input-placeholder,
main input[type=password]::-webkit-input-placeholder,
main input[type=datetime]::-webkit-input-placeholder,
main textarea::-webkit-input-placeholder {
  color: #8e8e8e;
}
main input[type=text]::-moz-placeholder,
main input[type=email]::-moz-placeholder,
main input[type=password]::-moz-placeholder,
main input[type=datetime]::-moz-placeholder,
main textarea::-moz-placeholder {
  color: #8e8e8e;
}
main input[type=text]:-moz-placeholder,
main input[type=email]:-moz-placeholder,
main input[type=password]:-moz-placeholder,
main input[type=datetime]:-moz-placeholder,
main textarea:-moz-placeholder {
  color: #8e8e8e;
}
main input[type=text]:-ms-input-placeholder,
main input[type=email]:-ms-input-placeholder,
main input[type=password]:-ms-input-placeholder,
main input[type=datetime]:-ms-input-placeholder,
main textarea:-ms-input-placeholder {
  color: #8e8e8e;
}
main input[type=text]:hover,
main input[type=email]:hover,
main input[type=password]:hover,
main input[type=datetime]:hover,
main textarea:hover {
  border-color: #9eca16;
}
main input[type=text]:focus,
main input[type=email]:focus,
main input[type=password]:focus,
main input[type=datetime]:focus,
main textarea:focus {
  color: #9eca16;
  border-color: #9eca16;
}
main input[type=text]:focus::-webkit-input-placeholder,
main input[type=email]:focus::-webkit-input-placeholder,
main input[type=password]:focus::-webkit-input-placeholder,
main input[type=datetime]:focus::-webkit-input-placeholder,
main textarea:focus::-webkit-input-placeholder {
  color: #9eca16;
}
main input[type=text]:focus::-moz-placeholder,
main input[type=email]:focus::-moz-placeholder,
main input[type=password]:focus::-moz-placeholder,
main input[type=datetime]:focus::-moz-placeholder,
main textarea:focus::-moz-placeholder {
  color: #9eca16;
}
main input[type=text]:focus:-moz-placeholder,
main input[type=email]:focus:-moz-placeholder,
main input[type=password]:focus:-moz-placeholder,
main input[type=datetime]:focus:-moz-placeholder,
main textarea:focus:-moz-placeholder {
  color: #9eca16;
}
main input[type=text]:focus:-ms-input-placeholder,
main input[type=email]:focus:-ms-input-placeholder,
main input[type=password]:focus:-ms-input-placeholder,
main input[type=datetime]:focus:-ms-input-placeholder,
main textarea:focus:-ms-input-placeholder {
  color: #9eca16;
}
main textarea {
  min-height: 115px;
  resize: none;
}
main input[type=submit] {
  display: block;
  padding: 20px 10px;
  font-size: 18px;
  color: #9eca16;
  background: transparent;
  border: 1px solid #9eca16;
  transition: all 0.25s ease;
}
main input[type=submit]:hover {
  background: #9eca16;
  color: #ffffff;
}
form input[type=text],
form input[type=email],
form input[type=password],
form input[type=datetime],
form textarea {
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  main input[type=submit] {
    font-size: 16px;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  z-index: 10;
}
.header a:hover {
  color: #9eca16;
}
.header-menu-mobile {
  width: 22px;
  height: 17px;
  margin-top: 28px;
  margin-left: 40px;
  cursor: pointer;
}
.header-menu-line {
  display: block;
  height: 2px;
  margin-bottom: 5px;
}
.header-menu-line:last-of-type {
  margin-bottom: 0;
}
.header-logo {
  margin-top: 20px;
  margin-left: 40px;
}
.header-menu {
  margin-left: 15px;
}
.header-menu li {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}
.header-menu li a {
  display: block;
  padding: 27px 15px;
  font-size: 18px;
  line-height: 1;
}
.header-languages {
  display: block;
  margin-right: 25px;
  position: relative;
}
.header-languages ul > li {
  position: relative;
}
.header-languages ul > li a {
  display: block;
  padding: 27px 15px;
}
.header-languages ul ul {
  position: absolute;
  top: 123px;
  left: 1px;
  padding-right: 25px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;
}
.header-languages ul > li.current ul {
  top: 73px;
  opacity: 1;
  pointer-events: auto;
}
.header-search {
  margin-top: 27px;
  margin-right: 15px;
}
.header-search,
.header-search input[type=text],
.header-search input[type=submit] {
  height: 18px;
  vertical-align: top;
}
.header-search input[type=submit] {
  width: 14px;
  border: none;
}
.header-search input[type=text] {
  width: 0;
  margin-top: 1px;
  padding-left: 40px;
  line-height: 1;
  background: transparent;
  border: none;
  border-left: 1px solid;
  transition: all 0.5s ease;
}
.header-search-open input[type=text] {
  width: 470px;
}
.header-contacts {
  position: relative;
  margin-top: 29px;
  margin-right: 20px;
}
.header-contacts-open .header-contacts-info {
  top: 44px;
  opacity: 1;
  pointer-events: inherit;
}
.header-contacts-open .header-contacts-popup {
  margin-top: 2px;
  transform: rotate(180deg);
}
.header-contacts-phone,
.header-contacts-popup {
  float: left;
  height: 15px;
  vertical-align: middle;
  cursor: pointer;
}
.header-contacts-phone {
  line-height: 1;
}
.header-contacts-popup {
  width: 15px;
  margin-top: 1px;
  padding: 0 20px;
  transition: all 0.25s ease;
}
.header-contacts-info {
  position: absolute;
  top: 94px;
  right: -20px;
  width: 505px;
  padding: 25px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;
}
.header-contacts-info ul {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}
.header-contacts-info ul li {
  margin-bottom: 5px;
}
.header-contacts-info ul span {
  margin-right: 5px;
}
.header-info-title {
  display: block;
  margin: 0 0 30px;
  font-size: 24px;
  line-height: 1;
}
.header-info-close {
  position: absolute;
  top: 20px;
  right: 33px;
  font-size: 30px;
  line-height: 1;
  color: #d7d7d7;
  cursor: pointer;
}
.header-info-close:hover {
  color: #e33a3a;
}
.header-black,
.header-black a {
  color: #ffffff;
}
.header-black,
.header-black .child-menu,
.header-black .header-contacts-info {
  background: rgba(57, 62, 67, 0.97);
}
.header-black .header-menu-line {
  background: #ffffff;
}
.header-black .header-search input[type=submit] {
  background: url('../img/icon-search-white.png') no-repeat center center;
}
.header-black .header-search input[type=text] {
  color: #d7d7d7;
  border-color: #666666;
}
.header-black .header-contacts-popup {
  background: url('../img/icon-harrow-white.png') no-repeat center center;
}
.header-black .header-contacts-info ul span {
  color: #d7d7d7;
}
.header-black .header-contacts-info .button span {
  background: rgba(57, 62, 67, 0.97);
}
.header-white,
.header-white a {
  color: #202020;
}
.header-white,
.header-white .child-menu,
.header-white .header-contacts-info {
  background: rgba(255, 255, 255, 0.97);
}
.header-white .header-menu-line {
  background: #202020;
}
.header-white .header-search input[type=submit] {
  background: url('../img/icon-search-black.png') no-repeat center center;
}
.header-white .header-search input[type=text] {
  color: #8e8e8e;
  border-color: #d7d7d7;
}
.header-white .header-contacts-popup {
  background: url('../img/icon-harrow-black.png') no-repeat center center;
}
.header-white .header-contacts-info ul span {
  color: #8e8e8e;
}
.header-transparent,
.header-transparent .child-menu,
.header-transparent .header-contacts-info {
  background: transparent;
}
.header-transparent .header-menu-line {
  background: #ffffff;
}
.header-transparent .header-contacts-info .button span {
  background: transparent;
}
@media screen and (max-width: 1366px) {
  .header-search-open input[type=text] {
    width: 300px;
  }
}
@media screen and (max-width: 1024px) {
  .header-menu {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header-menu-mobile {
    margin-left: 15px;
  }
  .header-logo {
    float: none;
    position: absolute;
    width: 25px;
    height: 32px;
    left: 50%;
    top: 50%;
    margin: -16px 0 0 -12.5px;
  }
  .header-logo img {
    display: block;
  }
  .header-languages,
  .header-contacts,
  .header-search input[type=text] {
    display: none;
  }
}
footer {
  padding: 40px 0;
  text-align: center;
}
footer small {
  display: block;
  font-size: 12px;
  color: #bebebe;
}
footer.margintop {
  margin-top: 100px;
}
.share-links a {
  display: inline-block;
  min-width: 95px;
  height: 48px;
  margin: 0 6px 0 10px;
  padding: 0 17px;
  line-height: 48px;
  vertical-align: top;
  color: #ffffff;
  background: #9eca16;
  border: 1px solid #9eca16;
  transition: all 0.25s ease;
}
.share-links a:hover {
  color: #9eca16;
  background: transparent;
}
.to-top {
  display: inline-block;
  margin-bottom: 40px;
  padding-top: 17px;
  color: #9eca16;
  background: url('../img/icon-arrow-green.png') no-repeat center top;
  transition: all 0.25s ease;
  cursor: pointer;
}
.to-top:hover {
  background-position: top 5px center;
}
.share-links + .to-top {
  margin-top: 75px;
}
@media screen and (max-width: 1024px) {
  footer {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 768px) {
  footer.margintop {
    margin-top: 10px;
  }
  .share-links a {
    display: block;
    width: 100%;
    margin: 0 0 10px;
  }
  .share-links a:last-child {
    margin: 0;
  }
  .share-links + .to-top {
    margin-top: 50px;
  }
}
.body-index-page {
  height: 3000px;
}
.body-index-page main {
  padding-top: 0;
  position: relative;
}
.index-page .container {
  max-width: 1280px;
  padding: 0 20px;
  color: #202020;
}
.index-page hr {
  max-width: 175px;
  background: #202020;
  opacity: 1;
}
.index-first-screen:after,
.index-page:after {
  content: none;
}
.index-first-screen {
  position: relative;
  min-height: 100vh;
}
.index-logo {
  position: absolute;
  top: 19%;
  left: 50%;
  width: 250px;
  margin-left: -125px;
  text-align: center;
  color: #ffffff;
  z-index: 1;
}
.index-logo strong {
  display: block;
  margin-top: 15px;
  font-weight: 300;
}
.index-logo:hover {
  color: #ffffff;
}
.index-slider,
.index-slider-slide {
  height: 100vh;
}
.index-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.index-slider-slide {
  position: relative;
  text-align: center;
  color: #ffffff;
}
.index-slider-info {
  position: absolute;
  left: 0;
  bottom: 23.7%;
  width: 100%;
  height: auto;
}
.index-slider-num {
  position: absolute;
  left: 0;
  top: -80px;
  width: 100%;
  font-family: 'Lato', 'Open Sans', sans-serif;
  font-size: 220px;
  font-weight: 100;
  line-height: 1;
  text-align: center;
  opacity: 0.15;
  z-index: -1;
}
.index-slider-cat,
.index-slider-title a {
  color: #ffffff;
}
.index-slider-cat:hover,
.index-slider-title a:hover {
  color: #9eca16;
}
.index-slider-title {
  margin-top: 5px;
  text-transform: uppercase;
}
.index-slider-desc {
  width: 525px;
  margin: 5px auto 25px;
}
.index-slider-prev,
.index-slider-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  font-style: italic;
  color: #ffffff;
  z-index: 1;
}
.index-slider-prev span,
.index-slider-next span {
  position: absolute;
  bottom: -25px;
  font-family: 'Lato', 'Open Sans', sans-serif;
  font-size: 100px;
  line-height: 1;
  font-weight: 100;
  font-style: normal;
  opacity: 0.2;
}
.index-slider-prev:before,
.index-slider-next:before,
.index-slider-prev:after,
.index-slider-next:after {
  position: absolute;
  top: 50%;
  opacity: 0.35;
}
.index-slider-prev {
  left: 17.7%;
}
.index-slider-prev span {
  left: -30px;
}
.index-slider-prev:before {
  content: url('../img/icon-mainarrow-white.png');
  left: -50px;
  margin-top: -15px;
  transform: rotate(180deg);
}
.index-slider-next {
  right: 17.7%;
}
.index-slider-next span {
  right: -30px;
}
.index-slider-next:after {
  content: url('../img/icon-mainarrow-white.png');
  right: -50px;
  margin-top: -11px;
}
.index-navigation {
  position: absolute;
  left: 40px;
  bottom: 12%;
  z-index: 1;
}
.index-navigation ul li {
  height: 32px;
  margin-bottom: 35px;
}
.index-navigation ul li:last-child {
  margin-bottom: 0;
}
.index-navigation ul a {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 32px;
  color: #ffffff;
}
.index-navigation ul a span {
  position: absolute;
  left: -10px;
  bottom: 2px;
  font-family: 'Lato', 'Open Sans', sans-serif;
  font-size: 44px;
  font-weight: 100;
  opacity: 0.2;
}
.index-navigation ul a:hover {
  color: #9eca16;
}
.index-learn-more {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 105px;
  margin-left: -52.5px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  z-index: 1;
}
.index-learn-more:hover {
  color: #9eca16;
}
.index-learn-more:hover .learn-more-line {
  background: #9eca16;
}
.learn-more-line {
  display: block;
  width: 1px;
  height: 45px;
  margin: 20px auto 0;
  background: #ffffff;
}
.index-catalog {
  position: relative;
  padding: 75px 0 0;
}
.index-catalog .container {
  background: url('../img/bg-index-catalog.jpg') no-repeat top 55px right;
}
.index-catalog hr {
  margin: 50px 0 5px;
}
.index-catalog-categories {
  margin: 0 -15px;
}
.index-catalog-categories a {
  display: inline-block;
  padding: 15px;
  font-size: 18px;
  vertical-align: top;
}
.index-catalog-categories a:last-child {
  margin-right: -4px;
}
.index-catalog-desc,
.index-catalog-img {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
.index-catalog-desc {
  max-width: 395px;
  padding-top: 20px;
}
.index-catalog-img {
  width: calc(100% - 475px);
  width: -webkit-calc(100% - 475px);
  width: -ms-calc(100% - 475px);
  width: -o-calc(100% - 475px);
  width: -moz-calc(100% - 475px);
  margin-left: 80px;
}
.index-about {
  padding: 100px 0 0;
  text-align: center;
}
.index-about hr {
  margin: 10px auto 25px;
}
.index-about-desc {
  max-width: 950px;
  margin: 0 auto;
}
.index-news {
  padding: 150px 0 0;
}
.index-news hr {
  margin: 15px 0 20px;
}
.index-news-header {
  max-width: 510px;
  padding-right: 25px;
}
.index-news-list {
  margin-top: -150px;
}
.index-news-single {
  width: 600px;
  margin-bottom: 60px;
}
.index-news-single-img,
.index-news-single-info {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  vertical-align: middle;
}
.index-news-single-img img {
  display: block;
  width: 100%;
  height: auto;
}
.index-news-single-info {
  padding: 0 10px;
}
.index-news-single-info .button-simple {
  margin-top: 15px;
}
.index-news-single-title {
  font-size: 22px;
  line-height: normal;
}
.index-news-single-date {
  display: block;
  font-size: 14px;
}
.index-news-single-title {
  margin: 10px 0;
}
.index-news-single-title a:not(:hover) {
  color: #202020;
}
.index-news-single-desc {
  margin: 0;
}
.index-news-single:nth-child(2) {
  margin-left: 27.5%;
}
.index-news-single:nth-child(4) {
  float: right;
  margin-top: -220px;
}
.index-contacts {
  padding: 80px 0 40px;
  text-align: center;
}
.index-contacts hr {
  margin: 10px auto;
}
.index-contacts-desc {
  max-width: 950px;
  margin: 0 auto;
}
.index-contacts-map {
  width: 820px;
  margin: 30px auto 0;
  padding: 0 60px 60px;
  background: url('../img/bg-index-contacts.jpg') no-repeat bottom right;
}
.catalog-page {
  background: #f9f9f9;
}
.catalog-navbar {
  padding: 15px 0;
}
.catalog-navbar .dropdown div {
  background: #f9f9f9;
}
.catalog-navbar-categories a {
  display: inline-block;
  margin-right: -4px;
  padding: 15px;
  line-height: 1;
  vertical-align: top;
}
.catalog-navbar-categories a:last-of-type {
  padding-right: 0;
}
.catalog-navbar-categories a:first-of-type {
  padding-left: 0;
}
.catalog-navbar-categories .current {
  color: #9eca16;
}
.catalog-sort-type {
  padding: 15px 0;
}
.catalog-navbar-style,
.catalog-style-type {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}
.catalog-style-type {
  width: 47px;
  height: 47px;
  padding: 15px;
  line-height: 0;
  border: 1px solid transparent;
  cursor: pointer;
}
.catalog-style-type.current,
.catalog-style-type:hover {
  border-color: #9eca16;
}
.catalog-style-type.current span,
.catalog-style-type:hover span {
  background: #9eca16;
}
.style-type-line {
  display: block;
  height: 2px;
  margin-bottom: 5px;
  background: #666666;
}
.style-type-line:last-of-type {
  margin-bottom: 0;
}
.style-type-block {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-right: -4px;
  margin-bottom: 2px;
  background: #666666;
  vertical-align: top;
}
.style-type-block:nth-of-type(odd) {
  margin-right: -3px;
}
.style-type-block:nth-of-type(even) {
  margin-left: 2px;
}
.catalog-goods {
  padding: 15px 0;
}
.catalog-cards {
  margin: 0 -15px;
}
.catalog-cards .catalog-goods-single {
  display: inline-block;
  width: 25%;
  margin-right: -4px;
  margin-bottom: 30px;
  padding: 0 15px;
  vertical-align: top;
}
.catalog-cards .catalog-goods-gallery {
  position: relative;
}
.catalog-cards .catalog-goods-gallery:after {
  position: absolute;
  z-index: 1;
  content: '';
  width: 0;
  height: 0;
  bottom: 0;
  border-style: solid;
  border-width: 0 0 50px 435px;
  border-color: transparent transparent #ffffff transparent;
  visibility: visible;
}
.catalog-cards .catalog-goods-inner {
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}
.catalog-cards .catalog-goods-inner:hover {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35);
}
.catalog-cards .catalog-goods-content {
  margin-top: -10px;
  padding: 0 13.8% 20px;
}
.catalog-list {
  padding-bottom: 45px;
}
.catalog-list .catalog-goods-single {
  padding: 5px 0;
  border-bottom: 1px solid #eeeeee;
}
.catalog-list .catalog-goods-single:first-child {
  padding-top: 0;
}
.catalog-list .catalog-goods-single:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.catalog-list .catalog-goods-gallery,
.catalog-list .catalog-goods-content {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}
.catalog-list .catalog-goods-gallery {
  width: 75%;
}
.catalog-list .catalog-goods-content {
  width: 25%;
  padding-left: 2.19418540867%;
  padding-right: 3.291278113%;
}
.catalog-list .button span {
  background: #f9f9f9;
}
.catalog-goods-img {
  display: block;
  width: 100%;
  height: auto;
}
.catalog-goods-category {
  display: block;
  margin: 5px 0;
  font-size: 14px;
}
.catalog-goods-collection {
  position: relative;
  margin: 0;
  padding-right: 35px;
  text-align: right;
  font-size: 12px;
  z-index: 1;
}
.catalog-goods-collection-year {
  display: block;
  margin-right: -35px;
  margin-top: -18px;
}
.catalog-goods-collection-year span {
  font-size: 30px;
}
.catalog-goods-title {
  line-height: 36px;
}
.catalog-goods-collection,
.catalog-goods-category,
.catalog-goods-title a {
  color: #9eca16;
}
.catalog-goods-desc {
  margin: 15px 0;
}
.catalog-goods-price {
  margin-top: 15px;
  font-size: 30px;
  color: #f35b33;
}
.catalog-goods-price-sale {
  display: inline-block;
  margin-left: 5px;
  font-size: 16px;
  color: #d7d7d7;
  text-decoration: line-through;
}
.catalog-other-nav {
  width: 25%;
}
.catalog-other-nav h3 {
  margin: 0 0 15px;
  color: #666666;
}
.catalog-other-nav ul a {
  display: inline-block;
  padding: 10px 0;
}
.catalog-other-nav ul:not(:first-of-type) {
  margin-top: 30px;
}
.catalog-other-goods {
  width: 75%;
}
.catalog-cards .catalog-other-nav {
  padding-left: 15px;
}
.catalog-cards .catalog-other-goods .catalog-goods-single {
  width: 33.333333333333%;
}
@media screen and (max-width: 1366px) {
  .catalog-cards .catalog-goods-content {
    padding: 0 5% 20px;
  }
}
@media screen and (max-width: 1280px) {
  .catalog-navbar-categories {
    width: 640px;
    width: calc(100% - 305px);
    width: -webkit-calc(100% - 305px);
    width: -moz-calc(100% - 305px);
    width: -o-calc(100% - 305px);
    width: -ms-calc(100% - 305px);
    margin-left: -15px;
  }
  .catalog-navbar-categories a:first-child {
    padding-left: 15px;
  }
  .catalog-cards .catalog-goods-single {
    width: 33.333333333%;
  }
}
@media screen and (max-width: 1024px) {
  .catalog-navbar-categories {
    display: none;
  }
  .catalog-cards .catalog-goods-single {
    width: 50%;
  }
  .catalog-cards .catalog-goods-gallery:after {
    border-width: 0 0 50px 460px;
  }
  .catalog-list .catalog-goods-gallery {
    width: 60%;
  }
  .catalog-list .catalog-goods-content {
    width: 40%;
  }
  .catalog-other-nav {
    width: 30%;
  }
  .catalog-other-goods {
    width: 70%;
  }
  .catalog-cards .catalog-other-goods .catalog-goods-single {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .catalog-navbar {
    text-align: center;
  }
  .catalog-navbar-categories-mobile {
    display: block;
    margin-bottom: 15px;
  }
  .catalog-navbar-sort {
    float: none;
  }
  .catalog-navbar-categories-mobile .dropdown,
  .catalog-navbar-sort .dropdown {
    text-align: left;
  }
  .catalog-navbar-style {
    display: none;
  }
  .catalog-cards {
    margin: 0;
  }
  .catalog-cards .catalog-goods-single {
    display: block;
    width: 100%;
    margin-right: 0;
    padding: 0;
  }
  .catalog-cards .catalog-goods-single:last-child {
    margin-bottom: 0;
  }
  .catalog-cards .catalog-goods-gallery:after {
    content: none;
  }
  .catalog-cards .catalog-goods-content {
    margin-top: 0;
    padding: 15px;
  }
  .catalog-other-nav,
  .catalog-other-goods {
    float: none;
    width: 100%;
  }
  .catalog-other-goods {
    margin-top: 30px;
  }
  .catalog-cards .catalog-other-nav {
    padding-left: 0;
  }
  .catalog-cards .catalog-other-goods .catalog-goods-single {
    width: 100%;
  }
}
.product-page {
  background: #ffffff;
}
.product-page h3 {
  color: #666666;
}
.product-info,
.product-gallery {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
.product-info {
  width: 30%;
  padding: 50px 0 0;
}
.product-info h1 {
  margin: 15px 0;
  text-align: left;
  -ms-word-break: break-all;
  word-break: break-all;
  word-wrap: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}
.product-info hr {
  margin: 30px 0 25px;
}
.product-gallery {
  width: 70%;
  padding-left: 10px;
}
.breadcrumbs li {
  display: inline-block;
  margin-right: 1px;
  vertical-align: top;
}
.breadcrumbs,
.breadcrumbs a {
  font-size: 14px;
}
.breadcrumbs a:after {
  content: '/';
  margin-left: 5px;
  font-size: 14px;
}
.breadcrumbs a:hover:after {
  color: #666666;
}
.product-desc {
  margin-bottom: 10px;
}
.product-attr img,
.product-desc img {
  display: inline-block;
  margin-right: 20px;
}
.product-attr img:last-of-type,
.product-desc img:last-of-type {
  margin-right: 0;
}
.product-attr-title {
  display: block;
  margin-bottom: 10px;
  font-weight: 300;
}
.product-finishes {
  margin-top: 5px;
}
.product-collection-goods {
  margin: 25px 0;
}
.product-collection-goods a {
  display: block;
  padding: 5px 0;
  color: #d7d7d7;
}
.product-collection-goods a:hover,
.product-collection-goods a:hover span {
  color: #9eca16;
}
.product-collection-title {
  display: inline-block;
  width: 40%;
  color: #666666;
}
.product-bar .button-simple,
.product-bar .catalog-goods-price {
  display: inline-block;
  vertical-align: middle;
}
.product-bar .button-simple {
  padding-left: 40px;
  padding-right: 40px;
}
.product-bar .catalog-goods-price {
  margin-left: 20%;
  margin-top: 0;
}
.product-add-links a {
  display: block;
  margin-bottom: 20px;
  color: #9eca16;
}
.product-add-links a:hover {
  text-decoration: underline;
}
.product-add-links a:last-of-type {
  margin-bottom: 0;
}
.product-gallery-small {
  margin: 10px -5px 0;
}
.product-gallery-small img {
  margin: 0 5px;
  border: 1px solid transparent;
  outline: none;
}
.product-gallery-small img.slick-current {
  border-color: #9eca16;
}
.goods-widget {
  margin-top: 50px;
}
.goods-widget-container {
  margin: 0 -12.5px 0;
}
.goods-widget-single {
  display: inline-block;
  width: 25%;
  margin-right: -4px;
  padding: 25px 12.5px 0;
}
.goods-single-img {
  display: block;
  width: 100%;
  height: auto;
}
.goods-single-inner {
  position: relative;
  min-height: 0;
  overflow: hidden;
}
.goods-single-inner:hover .goods-single-info {
  transform: translateX(0);
}
.goods-single-info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
  transform: translateX(-100%);
  transition: all 0.25s ease;
  background: rgba(32, 32, 32, 0.77);
}
.goods-single-info,
.goods-single-info a:not(.goods-single-more) {
  color: #ffffff;
}
.goods-single-info a:not(.goods-single-more):hover {
  color: #9eca16;
}
.goods-single-info .goods-single-img,
.goods-single-info .goods-single-category,
.goods-single-info .goods-single-title,
.goods-single-info .goods-single-desc,
.goods-single-info .catalog-goods-price,
.goods-single-info .goods-single-more {
  margin: auto;
}
.goods-single-desc {
  line-height: 22px;
}
.goods-single-more {
  height: 42px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 42px;
}
@media screen and (max-width: 1366px) {
  .goods-single-info {
    padding: 5px;
  }
  .goods-single-info .goods-single-title {
    font-size: 26px;
  }
  .goods-single-info .goods-single-desc {
    font-size: 14px;
    line-height: 20px;
  }
  .goods-single-info .catalog-goods-price {
    font-size: 26px;
  }
}
@media screen and (max-width: 1280px) {
  .product-info {
    width: 40%;
  }
  .product-gallery {
    width: 60%;
  }
  .goods-widget-single {
    width: 33.333333333%;
    width: calc(100% / 3);
    width: -webkit-calc(100% / 3);
    width: -moz-calc(100% / 3);
    width: -o-calc(100% / 3);
    width: -ms-calc(100% / 3);
  }
  .goods-single-info .goods-single-desc {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .product-info,
  .product-gallery {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .product-page .container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  .product-info,
  .product-gallery {
    display: block;
    width: 100%;
    margin-right: 0;
  }
  .product-gallery {
    order: 1;
    margin-top: 15px;
    padding-left: 0;
  }
  .product-info {
    order: 2;
    padding-top: 30px;
  }
  .goods-collection {
    order: 3;
  }
  .goods-popular {
    order: 4;
  }
  .product-collection-goods a {
    text-align: right;
  }
  .product-collection-title {
    width: 50%;
    float: left;
    text-align: left;
  }
  .product-bar .button-order,
  .product-bar .catalog-goods-price {
    display: block;
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
  .product-bar .catalog-goods-price {
    margin: 20px 0 0;
  }
  .goods-widget h3 {
    margin-bottom: 25px;
  }
  .goods-widget-container {
    margin: 0;
  }
  .goods-widget-single {
    display: block;
    width: 100%;
    margin: 0 0 20px;
    padding: 0;
  }
  .goods-widget-single:last-child {
    margin-bottom: 0;
  }
}
.news-page {
  padding: 80px 0 0;
  background: #f2f2f2;
}
.news-page h1,
.news-page h2 {
  margin-bottom: 45px;
  text-align: center;
}
.news-page h2 {
  margin-top: 160px;
}
.news-single {
  float: left;
  padding: 10px;
}
.news-inner {
  padding: 15px 10px;
  background: rgba(255, 255, 255, 0.6);
}
.news-single-img img {
  display: block;
  width: 100%;
  height: auto;
}
.news-single-date {
  margin: 0;
}
.news-single-title {
  margin: 10px 0;
}
.news-single-title a {
  color: #9eca16;
}
.news-latest {
  margin: 0 -10px;
}
.news-latest-single {
  width: 50%;
}
.news-latest-single .news-single-img,
.news-latest-single .news-single-content {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
.news-latest-single .news-single-content {
  width: 54.5%;
  padding: 10px 10px 0 20px;
}
.news-latest-single .news-single-img {
  width: 45.5%;
  overflow: hidden;
}
.news-latest-single .news-single-img img {
  width: auto;
}
.news-latest-big .news-single-img,
.news-latest-big .news-single-content {
  display: block;
  width: 100%;
  margin: 0;
}
.news-latest-big .news-single-img img {
  width: 100%;
  height: auto;
}
.news-latest-big .news-single-content {
  padding: 20px 10px 0;
}
.news-archive {
  margin: 0 -20px;
}
.news-archive-single {
  width: 25%;
  padding: 20px;
}
.news-archive-single .news-single-content {
  padding: 25px 20px 20px;
}
.news-single-page {
  padding: 70px 0 0;
}
.news-single-page .news-single-header {
  margin-bottom: 80px;
  text-align: right;
}
.news-single-page .news-single-img,
.news-single-page .news-single-header-info {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}
.news-single-page .news-single-img {
  width: 50%;
  height: auto;
}
.news-single-page .news-single-header-info {
  width: 25%;
  padding-right: 100px;
  text-align: left;
}
.news-single-page .news-single-title {
  margin: 0 0 70px;
  text-align: left;
}
.news-single-page .news-single-header-desc {
  margin: 0;
}
.news-single-page .news-single-content .container {
  width: 82.63%;
  padding: 0;
}
.news-single-page .news-single-content p {
  max-width: 840px;
  margin: 30px auto;
}
.news-single-page .news-single-content p:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.news-single-page .news-single-content img {
  display: block;
  max-width: 840px;
  width: 100%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
.news-single-page .news-single-content img.to-right,
.news-single-page .news-single-content img[style*=right] {
  width: 50%;
  margin-bottom: 50px;
}
.news-single-page .news-single-content img.to-right + p,
.news-single-page .news-single-content img[style*=right] + p {
  width: 35%;
  float: right;
  margin: 0;
  padding-top: 80px;
  padding-right: 70px;
}
.news-single-page .news-single-content img.to-left,
.news-single-page .news-single-content img[style*=left] {
  width: 50%;
  margin-bottom: 50px;
}
.news-single-page .news-single-content img.to-left + p,
.news-single-page .news-single-content img[style*=left] + p {
  width: 35%;
  float: left;
  margin: 0;
  padding-top: 80px;
  padding-left: 70px;
}
@media screen and (max-width: 1366px) {
  .news-single-page .news-single-header-info {
    width: 50%;
    padding-left: 25px;
  }
  .news-single-page .news-single-header-info,
  .news-single-page .news-single-title {
    text-align: right;
  }
}
@media screen and (max-width: 1280px) {
  .news-archive-single {
    width: 33.333333333%;
  }
  .news-single-page .news-single-header-info {
    padding-right: 25px;
  }
  .news-single-page .news-single-content img.to-left + p,
  .news-single-page .news-single-content img[style*=left] + p {
    width: 50%;
    padding-top: 25px;
    padding-left: 25px;
  }
  .news-single-page .news-single-content img.to-right + p,
  .news-single-page .news-single-content img[style*=right] + p {
    width: 50%;
    padding-top: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 1024px) {
  .news-page {
    padding-top: 60px;
  }
  .news-page h2 {
    margin-top: 60px;
  }
  .news-latest-big .news-inner {
    height: auto !important;
  }
  .news-latest {
    margin: 0;
  }
  .news-latest-single {
    float: none;
    width: 100%;
    margin: 0 0 20px;
    padding: 0;
  }
  .news-latest-single:last-child {
    margin-bottom: 0;
  }
  .news-archive {
    margin: 0 -15px;
  }
  .news-archive-single {
    width: 50%;
    padding: 15px;
  }
  .news-single-page .news-single-header,
  .news-single-page .news-single-content .container {
    padding: 0 15px;
  }
  .news-single-page .news-single-header-info {
    padding-left: 0;
  }
  .news-single-page .news-single-content .container {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .news-latest-single:not(.news-latest-big) .news-single-img,
  .news-latest-single:not(.news-latest-big) .news-single-content {
    display: block;
    width: 100%;
    margin: 0;
  }
  .news-latest-single:not(.news-latest-big) .news-single-img img {
    width: 100%;
    height: auto;
  }
  .news-latest-single:not(.news-latest-big) .news-single-content {
    padding: 20px 10px 0;
  }
  .news-archive-single {
    width: 100%;
  }
  .news-archive-single .news-single-content {
    padding: 20px 10px 0;
  }
  .news-single-page {
    position: relative;
  }
  .news-single-page .news-single-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    opacity: 0.2;
  }
  .news-single-page .news-single-header-info {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
  }
  .news-single-page .news-single-header-info,
  .news-single-page .news-single-title {
    text-align: left;
  }
  .news-single-page .news-single-title {
    margin-bottom: 15px;
  }
  .news-single-page .news-single-content img {
    max-width: 100%;
    margin-top: 0;
  }
  .news-single-page .news-single-content img,
  .news-single-page .news-single-content img + p {
    width: auto !important;
    float: none !important;
  }
  .news-single-page .news-single-content img {
    margin-bottom: 30px !important;
  }
  .news-single-page .news-single-content img + p {
    padding: initial !important;
  }
}
.contacts-page {
  padding-top: 50px;
}
.contacts-page .container {
  padding: 0 11.45%;
}
.contacts-page h1 {
  margin-bottom: 90px;
}
.contacts-page h3 {
  margin-bottom: 15px;
  color: #666666;
}
.contacts-address address {
  line-height: 25px;
}
.contacts-address-map {
  margin-top: 25px;
}
.contacts-address-map > ymaps,
.contacts-address-map .contacts-address-info {
  float: left;
}
.contacts-address-info,
.contacts-network-info {
  margin-left: 20px;
}
.contacts-address-info ul,
.contacts-network-info ul {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
.contacts-address-info ul li,
.contacts-network-info ul li {
  padding: 3px 0;
}
.contacts-address-info ul span,
.contacts-network-info ul span {
  margin-right: 5px;
}
.contacts-form {
  width: 385px;
}
.contacts-network {
  margin: 120px 0 0;
}
.contacts-network h3 {
  margin-bottom: 30px;
}
.contacts-network .tabs {
  margin-top: -10px;
}
.contacts-network-nav {
  margin-bottom: 10px;
}
.contacts-network-nav .dropdown ul {
  background: #ffffff;
}
.contacts-network-single {
  margin-bottom: 30px;
}
.contacts-network-single:last-of-type {
  margin-bottom: 0;
}
.contacts-network-map,
.contacts-network-info {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}
.contacts-network-map {
  width: 73%;
}
.contacts-network-info {
  width: 27%;
  margin-left: 0;
  padding-left: 30px;
}
.contacts-network-info h3 {
  margin-bottom: -10px;
}
@media screen and (max-width: 1366px) {
  .contacts-address-map > ymaps {
    display: none !important;
  }
  .contacts-address-map .contacts-address-info {
    float: none;
    margin-left: 0;
    margin-top: 10px;
  }
  .contacts-network {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1280px) {
  .contacts-network-map {
    width: 70%;
  }
  .contacts-network-map > ymaps {
    height: 450px !important;
  }
  .contacts-network-info {
    width: 30%;
  }
}
@media screen and (max-width: 1024px) {
  .contacts-address,
  .contacts-form {
    width: 50%;
  }
  .contacts-network-map {
    width: 60%;
  }
  .contacts-network-map > ymaps {
    height: 400px !important;
  }
  .contacts-network-info {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .contacts-page .container {
    padding: 0 15px;
  }
  .contacts-address-map > ymaps {
    display: block !important;
    width: 100% !important;
    height: 200px !important;
    margin-bottom: 25px;
  }
  .contacts-address,
  .contacts-form {
    float: none;
    display: block;
    width: 100%;
  }
  .contacts-network .tabs {
    margin-top: 0;
  }
  .contacts-network .tab {
    padding-top: 10px;
  }
  .contacts-network-nav {
    text-align: right;
  }
  .contacts-network-nav .dropdown {
    text-align: left;
  }
  #network-map > ymaps,
  .contacts-network-map > ymaps {
    width: 100% !important;
    height: 250px !important;
  }
  .contacts-network-map,
  .contacts-network-info {
    float: none;
    display: block;
    width: 100%;
    margin: 0;
  }
  .contacts-network-info {
    padding-left: 0;
    padding-top: 10px;
  }
}
.partners-page a {
  color: #9eca16;
}
.partners-page a:hover {
  color: #666666;
}
.partners-header {
  text-align: right;
}
.partners-header-info,
.partners-img {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}
.partners-header-info {
  width: 27.3%;
  padding-right: 100px;
  text-align: left;
}
.partners-img {
  width: 50%;
}
.partners-title {
  text-align: left;
}
.partners-desc {
  margin-bottom: 70px;
}
.partners-presentation {
  font-size: 24px;
}
.partners-content {
  margin-top: 80px;
  text-align: center;
}
.partners-privilege-img,
.partners-privilege-info {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
.partners-privilege-info {
  text-align: left;
  padding-left: 110px;
  padding-top: 60px;
}
.partners-privilege-info p,
.partners-privilege-info > div {
  max-width: 515px;
}
.partners-privilege-info p {
  margin: 25px 0;
}
.partners-privilege-info > div {
  line-height: 24px;
}
.partners-privilege-info h3:before {
  content: '01';
  position: absolute;
  left: 0;
  top: -120px;
  font-family: 'Lato', 'Open Sans', sans-serif;
  font-size: 220px;
  font-weight: 100;
  color: #9eca16;
  opacity: 0.2;
}
.partners-approach {
  margin: 200px 0 160px;
}
.partners-approach h3 {
  margin: 0 0 50px;
}
.partners-approach p {
  margin: 0;
  font-size: 24px;
  line-height: normal;
}
.partners-process-img,
.partners-process-info {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
.partners-process-info {
  text-align: left;
  padding-left: 160px;
}
.partners-process-info p {
  max-width: 550px;
  margin: 25px 0;
}
.partners-process-info h3:before {
  content: '02';
  position: absolute;
  left: 0;
  top: -120px;
  font-family: 'Lato', 'Open Sans', sans-serif;
  font-size: 220px;
  font-weight: 100;
  color: #9eca16;
  opacity: 0.2;
}
.partners-process-info a {
  display: inline-block;
  margin: 105px 0 0;
  font-size: 42px;
}
@media screen and (max-width: 1366px) {
  .partners-header-info {
    width: 50%;
    padding-left: 40px;
  }
  .partners-header-info,
  .partners-title {
    text-align: right;
  }
}
@media screen and (max-width: 1280px) {
  .partners-privilege-info,
  .partners-process-info {
    padding-top: 100px;
  }
}
@media screen and (max-width: 1024px) {
  .partners-process-info a {
    display: block;
    margin-top: 50px;
    font-size: 34px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .partners-page {
    padding: 50px 15px 0;
  }
  .partners-header-info,
  .partners-img {
    display: block;
    width: 100%;
    margin-right: 0;
  }
  .partners-header-info,
  .partners-title {
    padding: 0;
    text-align: center;
  }
  .partners-desc {
    margin-bottom: 5px;
  }
  .partners-img {
    margin-top: 25px;
  }
  .partners-privilege-info,
  .partners-process-info {
    padding-top: 30px;
    padding-left: 0;
  }
  .partners-privilege-info h3 .index,
  .partners-process-info h3 .index {
    display: none;
  }
  .partners-approach {
    margin: 50px 0;
  }
  .partners-process-info a {
    margin-top: 30px;
  }
}
.about-page {
  padding-top: 190px;
  text-align: center;
  background: url('../img/bg-about.jpg') no-repeat top 55px right;
}
.about-page a {
  color: #9eca16;
}
.about-page a:hover {
  color: #666666;
}
.about-page .ghost-letters:before {
  position: absolute;
  font-family: 'Lato', 'Open Sans', sans-serif;
  font-size: 220px;
  font-weight: 100;
  color: #9eca16;
  opacity: 0.2;
}
.about-header {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 220px;
}
.about-header,
.about-title {
  text-align: left;
}
.about-desc {
  margin-bottom: 0;
}
.about-us {
  margin-top: 180px;
}
.about-us-desc,
.about-us-img-1,
.about-us-img-2 {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
}
.about-us-desc {
  max-width: 355px;
  text-align: left;
}
.about-us-desc h3 {
  margin-bottom: 45px;
}
.about-us-desc h3:before {
  content: '01';
  left: -45px;
  top: -125px;
}
.about-us-img-1 {
  margin-top: 155px;
  margin-left: 125px;
}
.about-us-img-2 {
  margin-top: 110px;
  margin-left: 15px;
}
.about-work {
  margin-top: 95px;
}
.about-work h3 {
  margin-bottom: 125px;
}
.about-work-img,
.about-work-catalog {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}
.about-work-catalog {
  margin-left: 200px;
}
.about-quality {
  margin-top: 220px;
}
.about-quality h3 {
  display: inline-block;
  margin-bottom: 45px;
  margin-left: 245px;
}
.about-quality h3:before {
  content: '02';
  left: -125px;
  top: -135px;
}
.about-quality-desc,
.about-quality-img {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}
.about-quality-img {
  margin-left: 380px;
}
.about-collections {
  margin-top: 295px;
}
.about-collections h3:before {
  content: '03';
  left: -80px;
  top: -110px;
}
.about-collections-img,
.about-collections-desc {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
.about-collections-desc {
  max-width: 360px;
  margin-left: 105px;
  text-align: left;
}
.about-collections-desc p {
  margin: 40px 0 60px;
}
.about-collections-img {
  margin-top: 25px;
}
.about-collections-2015 {
  margin-top: 150px;
}
.about-collections-2015 h3 {
  display: inline-block;
  margin-bottom: 90px;
}
.about-collections-2015 h3:before {
  content: '04';
  left: -90px;
  top: -110px;
}
.about-collections-2015-img,
.about-collections-2015-desc {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}
.about-collections-2015-desc {
  max-width: 365px;
  text-align: left;
}
.about-collections-2015-desc p {
  margin-top: 0;
  margin-bottom: 30px;
}
.about-collections-2015-img {
  margin-left: 125px;
}
@media screen and (max-width: 1366px) {
  .about-quality-img {
    margin-left: 260px;
  }
}
@media screen and (max-width: 1280px) {
  .about-us-img-1 {
    margin-left: 35px;
  }
}
@media screen and (max-width: 1024px) {
  .about-page {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    background: url(../img/bg-about.jpg) top right no-repeat;
  }
  .about-header {
    padding: 120px 0;
  }
  .about-us-desc,
  .about-collections-2015-desc {
    padding-right: 15px;
  }
  .about-us-img-1 {
    width: 30%;
  }
  .about-us-img-2 {
    width: 20%;
  }
  .about-us-desc,
  .about-quality-img,
  .about-quality-desc,
  .about-work-img,
  .about-work-catalog,
  .about-collections-img,
  .about-collections-desc,
  .about-collections-2015-desc,
  .about-collections-2015-img {
    width: 50%;
    max-width: 100%;
  }
  .about-us-img-1,
  .about-us-img-2,
  .about-quality-img,
  .about-work-catalog,
  .about-collections-desc,
  .about-collections-2015-img {
    margin-left: 0;
  }
  .about-collections-desc {
    padding-left: 15px;
  }
}
@media screen and (max-width: 768px) {
  .about-us-img-1,
  .about-us-img-2,
  .about-us-desc,
  .about-quality-img,
  .about-quality-desc,
  .about-work-img,
  .about-work-catalog,
  .about-collections-img,
  .about-collections-desc,
  .about-collections-2015-desc,
  .about-collections-2015-img {
    display: block;
    width: 100%;
    margin-right: 0;
    max-width: 100%;
  }
  .about-us {
    margin-top: 100px;
  }
  .about-us h3 {
    margin-bottom: 15px;
  }
  .about-us-img-1,
  .about-us-img-2 {
    margin-top: 25px;
  }
  .about-work {
    margin-top: 50px;
  }
  .about-work h3 {
    margin-bottom: 15px;
  }
  .about-work-catalog {
    margin-top: 15px;
  }
  .about-quality {
    margin-top: 50px;
  }
  .about-quality h3 {
    display: block;
    margin-left: 0;
    margin-bottom: 0;
  }
  .about-quality-desc {
    margin-top: 0;
  }
  .about-collections,
  .about-collections-2015 {
    margin-top: 50px;
  }
  .about-collections-desc {
    padding-left: 0;
  }
  .about-collections-desc h3 {
    margin-top: 15px;
  }
  .about-collections-desc p {
    margin: 15px 0;
  }
  .about-collections-2015 h3 {
    display: block;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .about-collections-2015-desc {
    margin-top: -15px;
    padding-right: 0;
  }
  .about-collections-2015-desc p {
    margin-bottom: 15px;
  }
  .about-collections-2015-img {
    margin-top: 15px;
  }
}
.search-page {
  padding-top: 70px;
  background: url('../img/bg-search.jpg') no-repeat right top;
}
.search-page .container {
  width: 1000px;
  padding: 0;
}
.search-page h1 {
  text-align: left;
}
.search-panel {
  margin-top: 30px;
  padding-bottom: 80px;
}
.search-text,
.search-button {
  float: left;
}
input[type=text].search-text {
  width: 945px;
  width: -webkit-calc(100% - 55px);
  width: -o-calc(100% - 55px);
  width: -moz-calc(100% - 55px);
  width: -ms-calc(100% - 55px);
  width: calc(100% - 55px);
  margin: 0;
  padding-top: 18.5px;
  padding-bottom: 18.5px;
  border: none;
  border-radius: 0;
  box-shadow: 0px 0px 26px 0px rgba(32, 32, 32, 0.08);
}
input[type=text].search-text:focus {
  box-shadow: 0px 0px 26px 0px rgba(32, 32, 32, 0.12);
}
input[type=submit].search-button {
  width: 55px;
  height: 55px;
  background: url('../img/icon-search-white.png') no-repeat center center #9eca16;
  border: none;
  transition: none;
}
input[type=submit].search-button:hover {
  background: url('../img/icon-search-white.png') no-repeat center center #b0e119;
}
.search-results {
  margin-top: 20px;
}
.search-single {
  padding: 30px 0;
  border-bottom: 1px solid #eeeeee;
}
.search-single:last-of-type {
  border-bottom: none;
}
.search-single-img,
.search-single-content {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}
.search-single-img {
  width: 23%;
  overflow: hidden;
}
.search-single-img img {
  width: 100%;
  height: auto;
}
.search-single-content {
  width: 100%;
  padding: 0;
}
.search-single-img + .search-single-content {
  width: 77%;
  padding-left: 20px;
}
.search-single-title a {
  color: #9eca16;
}
.search-single-desc {
  margin: 10px 0 15px;
}
@media screen and (max-width: 1366px) {
  .search-page {
    background: url('../img/bg-search.jpg') right -250px top no-repeat;
  }
}
@media screen and (max-width: 1024px) {
  .search-page {
    background: url('../img/bg-search.jpg') right -470px top no-repeat;
  }
  .search-page .container {
    width: 100%;
    padding: 0 15px;
  }
  .search-results {
    margin-top: 45px;
  }
  .search-single-img {
    width: 30%;
  }
  .search-single-img + .search-single-content {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .search-page {
    padding-top: 45px;
    background: none;
  }
  .search-page h1 {
    text-align: center;
  }
  .search-panel {
    padding-bottom: 0;
  }
  .search-single-img,
  .search-single-content {
    display: block;
    width: 100%;
    margin: 0;
  }
  .search-single-img + .search-single-content {
    width: 100%;
    padding-left: 0;
  }
  .search-single-img {
    margin-bottom: 15px;
  }
  .search-single-img img {
    width: 100%;
    height: auto;
  }
}
.body-error-page {
  min-height: 100vh;
  background: url('../img/bg-404.jpg') no-repeat right center;
}
.body-error-page footer {
  position: absolute;
  width: 100%;
  bottom: 40px;
  left: 0;
  padding: 0;
}
.error-page {
  position: absolute;
  left: 14.84375%;
  top: 50%;
  transform: translateY(-50%);
}
.error-page p {
  max-width: 620px;
  margin: 30px 0 60px;
}
.error-page h1:before {
  content: '00';
  position: absolute;
  left: -60px;
  bottom: 30px;
  font-family: 'Lato', 'Open Sans', sans-serif;
  font-size: 220px;
  font-weight: 100;
  color: #eeeeee;
}
.error-page .button span {
  background: transparent;
}
@media screen and (max-width: 1366px) {
  .body-error-page {
    background-size: cover;
  }
}
@media screen and (max-width: 1024px) {
  .error-page h1 {
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .body-error-page {
    position: relative;
    height: auto;
  }
  .body-error-page footer {
    position: static;
    padding: 0 15px 15px;
  }
  .error-page {
    position: static;
    padding: 30px 0;
    transform: none;
  }
  .error-page p {
    margin: 15px 0;
  }
}
header,
main,
footer {
  transition: left 0.25s linear,
                opacity 0.25s linear;
}
main,
footer {
  position: relative;
}
.mobile-panel {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100vh;
  padding: 0;
  color: #ffffff;
  background: #202020;
  transition: width 0.25s linear;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 11;
}
.mobile-menu {
  padding: 0 0 58px;
}
.mobile-menu ul a {
  display: block;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 1;
  white-space: nowrap;
  word-wrap: normal;
  word-break: normal;
  color: #ffffff;
}
.mobile-menu ul a:hover {
  color: #9eca16;
}
.mobile-menu-title {
  display: block;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-left: 30px;
  font-weight: 300;
  line-height: 1;
}
.mobile-lang-switcher {
  position: absolute;
  bottom: 10px;
  left: 15px;
  width: 100%;
  white-space: nowrap;
  word-wrap: normal;
  word-break: normal;
}
.mobile-lang-switcher li {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
.mobile-lang-switcher a {
  display: block;
  padding: 15px;
  font-size: 18px;
  line-height: 1;
  color: #ffffff;
}
.mobile-lang-switcher a:hover {
  color: #9eca16;
}
html.mobile-panel-visible,
body.mobile-panel-visible {
  position: relative;
  overflow: hidden;
  height: 100%;
}
body.mobile-panel-visible header,
body.mobile-panel-visible main,
body.mobile-panel-visible footer {
  position: relative;
  left: 85%;
  opacity: 0.5;
  cursor: pointer;
}
body.mobile-panel-visible header *,
body.mobile-panel-visible main *,
body.mobile-panel-visible footer * {
  pointer-events: none;
}
body.mobile-panel-visible .mobile-panel {
  width: 85%;
}
.show-more {
  display: block;
  height: 75px;
  text-align: center;
  line-height: 75px;
  background: #ffffff;
  border-top: 1px solid #eeeeee;
}
.show-more img {
  margin-top: -2px;
  margin-right: 5px;
  vertical-align: middle;
}
.show-more:hover {
  color: #666666;
}
.show-more.loading-more img {
  -webkit-animation-name: spin;
  -o-animation-name: spin;
  animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -o-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tabs li {
  display: inline-block;
  vertical-align: top;
}
.tabs a {
  display: block;
  padding: 20px 25px;
  border: 1px solid transparent;
}
.tabs li.current a {
  border-color: #d7d7d7;
}
.tabs li.current a:hover {
  color: #666666;
}
.tab {
  display: none;
}
.tab.current {
  display: block;
}
.tablet-show,
.mobile-show,
.tablet-show-inline,
.mobile-show-inline {
  display: none;
}
@media screen and (max-width: 1024px) {
  .tablet-show {
    display: block;
  }
  .tablet-show-inline {
    display: inline-block;
  }
  .tablet-hide {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .mobile-show {
    display: block;
  }
  .mobile-show-inline {
    display: inline-block;
  }
  .mobile-hide {
    display: none;
  }
}
/* Adaptive */
@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  img {
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
  }
}
