/* Adaptive */

@media screen and (max-width: 767px) {

  .container {
    width: 100%;
    padding: 0 15px;
  }

  // .to-left,
  // .to-right {
  //   float: none;
  // }

  img {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {

  .container {
  	width: 100%;
  }
}

@media screen and (min-width: 992px) {

  .container {
  	width: 100%;
  }
}

@media screen and (min-width: 1200px) {

  .container {
    width: 100%;
  }
}
