// #colors
@black: #666;
@blackest: #202020;
@white: #fff;
@blue: #0099de;
@main-green: #9eca16;

@gray: #d7d7d7;
@light-gray: #eee;
@medium-gray: #8e8e8e;
@dark-gray: #393e43;

@green: #57cb02;
@light-green: #61e202;

@red: #e33a3a;
@light-red: #f35b33;

// #fonts
@ubuntu: 'Ubuntu', 'Open Sans', sans-serif;
@georgia: 'Georgia', 'PT Serif', serif;

// #media
@mobile: ~"screen and (max-width: 768px)";
@tablet: ~"screen and (max-width: 1024px)";
@desktop-small: ~"screen and (max-width: 1280px)";
@desktop-normal: ~"screen and (max-width: 1366px)";
@desktop-medium: ~"screen and (max-width: 1620px)";
@desktop-large: ~"screen and (min-width: 1621px)";

*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after,
div:after,
nav:after,
header:after,
section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

address {
  font-style: normal;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

strong, b {
    font-family: @ubuntu;
    font-weight: 500;
}

figure, dl, dd {
  margin: 0;
}

hr {
    width: 100%;
    height: 1px;
    margin: 0;
    background: @black;
    opacity: 0.16;
    border: none;
}

a {
	text-decoration: none;
    color: @black;

    &:hover {
        color: @main-green;
    }
}

small {
    font-size: 13px;
    color: darken(@black, 20%);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: @ubuntu;
}

h1, .h1 { font: 80px/90px @georgia; font-family: @georgia; font-weight: 400; }
h2, .h2 { font-size: 42px; font-weight: 300; }
h3, .h3 { font-size: 30px; font-weight: 500; }
h4, .h4 { font-size: 22px; font-weight: 300; }
h5, .h5 { font-size: 16px; font-weight: 500; }
h6, .h6 { font-size: 14px; font-weight: 300; }

p {
    font: 16px/24px @ubuntu;
    font-weight: 300;
}

main {
    padding-top: 72px;

    & > section h1 {
        text-align: center;
    }
}

body {
  font-family: @ubuntu;
  font-size: 16px;
  font-weight: 300;
  color: @black;
  overflow-y: scroll;
  overflow-x: hidden;
  //Font smoothing for Chrome
  -webkit-font-smoothing: subpixel-antialiased !important;
  backface-visibility:      hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.to-left {
  float: left;
}
.to-right {
  float: right;
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.block-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hover-opacity:hover {
    opacity: 0.8;
}

.ghost-letters {

    &,
    span {
        position: relative;
    }

    span {
        z-index: 1;
    }
}

// #cols loop
.grid( @name; @columns; @index: 1 ) when ( @index =< @columns ) {
  .grid( @name; @columns; (@index + 1) );

  &.@{name}-@{index} .block-col {
    width: ( percentage(1 / @index) );
  }
}

// #cols
.block-cols {

  .block-col {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
  }

  .grid(block-cols; 6);
}

// #adaptive
// #tablet
@media @tablet {

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

// #mobile
@media @mobile {

    h1, .h1 {
        font-size: 50px;
        line-height: normal;
    }

    .ghost-letters {

        &:before,
        &:after {
            content: none !important;
        }
    }
}
