.button {
    position: relative;
    display: inline-block;
    height: 60px;
    padding-right: 10px;
    overflow: hidden;
    transition: padding 0.25s ease;

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 60px;
        height: 60px;
        margin-top: -30px;
        border: 1px solid @main-green;
        z-index: 1;
        transition: background 0.25s ease;
    }

    &:before {
        content: url('../img/icon-rarrow-white.png');
        position: absolute;
        top: 50%;
        right: -100px;
        width: 8px;
        height: 15px;
        transform: translate(50%, -50%);
        transition: right 0.2s ease;
        z-index: 2;
    }

    span {
        display: block;
        margin-top: 18px;
        position: relative;
        font-size: 18px;
        line-height: 24px;
        background: @white;
        color: @main-green;
        z-index: 2;
        transition: font-size 0.25s ease,
                    background 0.05s ease-in-out;
    }
}

.button:hover {
    padding-right: 70px;

    &:after {
        background: @main-green;
    }

    &:before {
        right: 30px;
    }

    span {
        font-size: 12px;
        background: transparent;
    }
}

.button:active {

    &:after {
        background: lighten(@main-green, 5%);
        border-color: lighten(@main-green, 5%);
    }

    span {
        color: lighten(@main-green, 5%);
    }
}

.button-simple {
    display: inline-block;
    padding: 20px 10px;
    color: @main-green;
    border: 1px solid @main-green;
    transition: all 0.25s ease;

    &:hover {
        color: @white;
        background: @main-green;
    }
}
