footer {
    padding: 40px 0;
    text-align: center;

    small {
        display: block;
        font-size: 12px;
        color: darken(@gray, 10%);
    }

    &.margintop {
        margin-top: 100px;
    }
}

.share-links {

    a {
        display: inline-block;
        min-width: 95px;
        height: 48px;
        margin: 0 6px 0 10px;
        padding: 0 17px;
        line-height: 48px;
        vertical-align: top;
        color: @white;
        background: @main-green;
        border: 1px solid @main-green;
        transition: all 0.25s ease;

        &:hover {
            color: @main-green;
            background: transparent;
        }
    }
}

.to-top {
    display: inline-block;
    margin-bottom: 40px;
    padding-top: 17px;
    color: @main-green;
    background: url('../img/icon-arrow-green.png') no-repeat center top;
    transition: all 0.25s ease;
    cursor: pointer;

    &:hover {
        background-position: top 5px center;
    }
}

.share-links + .to-top {
    margin-top: 75px;
}

// #adaptive
// tablet
@media @tablet {

    footer {
        padding-left: 15px;
        padding-right: 15px;
    }
}

// #mobile
@media @mobile {

    footer {

        &.margintop {
            margin-top: 10px;
        }
    }

    .share-links {

        a {
            display: block;
            width: 100%;
            margin: 0 0 10px;

            &:last-child {
                margin: 0;
            }
        }
    }


    .share-links + .to-top {
        margin-top: 50px;
    }
}
