input, textarea {
    outline: none;
}

main {

    input[type=text],
    input[type=email],
    input[type=password],
    input[type=datetime],
    textarea {
        display: block;
        width: 100%;
        padding: 15px;
        color: @medium-gray;
        border: 1px solid darken(@gray, 8.5%);
        border-radius: 3px;

        &::-webkit-input-placeholder {color: @medium-gray}
        &::-moz-placeholder          {color: @medium-gray}
        &:-moz-placeholder           {color: @medium-gray}
        &:-ms-input-placeholder      {color: @medium-gray}

        &:hover {
            border-color: @main-green;
        }

        &:focus {
            color: @main-green;
            border-color: @main-green;

            &::-webkit-input-placeholder {color: @main-green;}
            &::-moz-placeholder          {color: @main-green;}
            &:-moz-placeholder           {color: @main-green;}
            &:-ms-input-placeholder      {color: @main-green;}
        }
    }

    textarea {
        min-height: 115px;
        resize: none;
    }

    input[type=submit] {
        display: block;
        padding: 20px 10px;
        font-size: 18px;
        color: @main-green;
        background: transparent;
        border: 1px solid @main-green;
        transition: all 0.25s ease;

        &:hover {
            background: @main-green;
            color: @white;
        }
    }
}

form {

    input[type=text],
    input[type=email],
    input[type=password],
    input[type=datetime],
    textarea {
        margin-bottom: 15px;
    }
}

// #adaptive
// #mobile
@media @mobile {

    main {

        input[type=submit] {
            font-size: 16px;
        }
    }
}
