.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    z-index: 10;

    a:hover {
        color: @main-green;
    }
}

.header-menu-mobile {
    width: 22px;
    height: 17px;
    margin-top: 28px;
    margin-left: 40px;
    cursor: pointer;
}

.header-menu-line {
    display: block;
    height: 2px;
    margin-bottom: 5px;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.header-logo {
    margin-top: 20px;
    margin-left: 40px;
}

// #menu
.header-menu {
    margin-left: 15px;

    li {
        display: inline-block;
        margin-right: -4px;
        vertical-align: middle;

        a {
            display: block;
            padding: 27px 15px;
            font-size: 18px;
            line-height: 1;
        }
    }
}

// #languages
.header-languages {
    display: block;
    margin-right: 25px;
    position: relative;

    ul {

        & > li {
            position: relative;

            a {
                display: block;
                padding: 27px 15px;
            }
        }

        ul {
            position: absolute;
            top: 123px;
            left: 1px;
            padding-right: 25px;
            opacity: 0;
            pointer-events: none;
            transition: all 0.25s ease;
        }

        & > li.current ul {
            top: 73px;
            opacity: 1;
            pointer-events: auto;
        }
    }
}

// #search
.header-search {
    margin-top: 27px;
    margin-right: 15px;

    &, input[type=text], input[type=submit] {
        height: 18px;
        vertical-align: top;
    }

    input[type=submit] {
        width: 14px;
        border: none;
    }

    input[type=text] {
        width: 0;
        margin-top: 1px;
        padding-left: 40px;
        line-height: 1;
        background: transparent;
        border: none;
        border-left: 1px solid;
        transition: all 0.5s ease;
    }
}
.header-search-open {

    input[type=text] {
        width: 470px;
    }
}

// #contacts
.header-contacts {
    position: relative;
    margin-top: 29px;
    margin-right: 20px;
}
.header-contacts-open {

    .header-contacts-info {
        top: 44px;
        opacity: 1;
        pointer-events: inherit;
    }

    .header-contacts-popup {
        margin-top: 2px;
        transform: rotate(180deg);
    }
}

.header-contacts-phone,
.header-contacts-popup {
    float: left;
    height: 15px;
    vertical-align: middle;
    cursor: pointer;
}

.header-contacts-phone {
    line-height: 1;
}

.header-contacts-popup {
    width: 15px;
    margin-top: 1px;
    padding: 0 20px;
    transition: all 0.25s ease;
}

.header-contacts-info {
    position: absolute;
    top: 94px;
    right: -20px;
    width: 505px;
    padding: 25px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;

    ul {
        margin: 0 0 20px;
        padding: 0;
        list-style: none;

        li {
            margin-bottom: 5px;
        }

        span {
            margin-right: 5px;
        }
    }
}

.header-info-title {
    display: block;
    margin: 0 0 30px;
    font-size: 24px;
    line-height: 1;
}

.header-info-close {
    position: absolute;
    top: 20px;
    right: 33px;
    font-size: 30px;
    line-height: 1;
    color: @gray;
    cursor: pointer;
}
.header-info-close:hover {
    color: @red;
}

// #black header
.header-black {

    &, a {
        color: @white;
    }

    &,
    .child-menu,
    .header-contacts-info {
        background: fade(@dark-gray, 97%);
    }

    .header-menu-line {
        background: @white;
    }

    .header-search {

        input[type=submit] {
            background: url('../img/icon-search-white.png') no-repeat center center;
        }

        input[type=text] {
            color: @gray;
            border-color: @black;
        }
    }

    .header-contacts-popup {
        background: url('../img/icon-harrow-white.png') no-repeat center center;
    }

    .header-contacts-info {

        ul {

            span {
                color: @gray;
            }
        }

        .button {

            span {
                background: fade(@dark-gray, 97%);
            }
        }
    }
}

// #white header
.header-white {

    &, a {
        color: @blackest;
    }

    &,
    .child-menu,
    .header-contacts-info {
        background: fade(@white, 97%);
    }

    .header-menu-line {
        background: @blackest;
    }

    .header-search {

        input[type=submit] {
            background: url('../img/icon-search-black.png') no-repeat center center;
        }

        input[type=text] {
            color: @medium-gray;
            border-color: @gray;
        }
    }

    .header-contacts-popup {
        background: url('../img/icon-harrow-black.png') no-repeat center center;
    }

    .header-contacts-info {

        ul {

            span {
                color: @medium-gray;
            }
        }
    }
}

// #transparent header (index page)
.header-transparent {

    &,
    .child-menu,
    .header-contacts-info {
        background: transparent;
    }

    .header-menu-line {
        background: @white;
    }

    .header-contacts-info {

        .button {

            span {
                background: transparent;
            }
        }
    }
}

// #adaptive
// #desktop normal
@media @desktop-normal {

    .header-search-open {

        input[type=text] {
            width: 300px;
        }
    }
}

// #tablet
@media @tablet {

    .header-menu {
        display: none;
    }
}

// #mobile
@media @mobile {

    .header-menu-mobile {
        margin-left: 15px;
    }

    .header-logo {
        float: none;
        position: absolute;
        width: 25px;
        height: 32px;
        left: 50%;
        top: 50%;
        margin: -16px 0 0 -12.5px;

        img {
            display: block;
        }
    }

    .header-languages,
    .header-contacts,
    .header-search input[type=text] {
        display: none;
    }
}
