// #mobile panel
header, main, footer {
    transition: left 0.25s linear,
                opacity 0.25s linear;
}

main, footer {
    position: relative;
}

.mobile-panel {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100vh;
    padding: 0;
    color: @white;
    background: @blackest;
    transition: width 0.25s linear;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 11;
}

.mobile-menu {
    padding: 0 0 58px;

    ul {

        a {
            display: block;
            padding: 15px 30px;
            font-size: 18px;
            line-height: 1;
            white-space: nowrap;
            word-wrap: normal;
            word-break: normal;
            color: @white;

            &:hover {
                color: @main-green;
            }
        }
    }
}

.mobile-menu-title {
    display: block;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-left: 30px;
    font-weight: 300;
    line-height: 1;
}

.mobile-lang-switcher {
    position: absolute;
    bottom: 10px;
    left: 15px;
    width: 100%;
    white-space: nowrap;
    word-wrap: normal;
    word-break: normal;

    li {
        display: inline-block;
        margin-right: -4px;
        vertical-align: top;
    }

    a {
        display: block;
        padding: 15px;
        font-size: 18px;
        line-height: 1;
        color: @white;

        &:hover {
            color: @main-green;
        }
    }
}

html.mobile-panel-visible,
body.mobile-panel-visible {
    position: relative;
    overflow: hidden;
    height: 100%;
}

body.mobile-panel-visible {

    header, main, footer {
        position: relative;
        left: 85%;
        opacity: 0.5;
        cursor: pointer;

        * {
            pointer-events: none;
        }
    }

    .mobile-panel {
        width: 85%;
    }
}

// #pagination
.show-more {
    display: block;
    height: 75px;
    text-align: center;
    line-height: 75px;
    background: @white;
    border-top: 1px solid @light-gray;

    img {
        margin-top: -2px;
        margin-right: 5px;
        vertical-align: middle;
    }

    &:hover {
        color: @black;
    }
}

.show-more.loading-more {

    img {
        -webkit-animation-name: spin;
        -o-animation-name: spin;
        animation-name: spin;
        -webkit-animation-duration: 1000ms;
        -o-animation-duration: 1000ms;
        animation-duration: 1000ms;
        -webkit-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -o-animation-timing-function: linear;
        animation-timing-function: linear;

        @-webkit-keyframes spin {
            from {
                -webkit-transform: rotate(0deg);
            } to {
                -webkit-transform: rotate(360deg);
            }
        }
        @-o-keyframes spin {
            from {
                -o-transform: rotate(0deg);
            } to {
                -o-transform: rotate(360deg);
            }
        }
        @-moz-keyframes spin {
            from {
                -moz-transform: rotate(0deg);
            } to {
                -moz-transform: rotate(360deg);
            }
        }
        @keyframes spin {
            from {
                transform: rotate(0deg);
            } to {
                transform: rotate(360deg);
            }
        }
    }
}

// #tabs
.tabs {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        display: inline-block;
        vertical-align: top;
    }

    a {
        display: block;
        padding: 20px 25px;
        border: 1px solid transparent;
    }

    li.current {

        a {
            border-color: @gray;
        }
        a:hover {
            color: @black;
        }
    }
}

.tab {
    display: none;
}

.tab.current {
    display: block;
}


.tablet-show,
.mobile-show,
.tablet-show-inline,
.mobile-show-inline {
    display: none;
}

@media @tablet {

    .tablet-show {
        display: block;
    }

    .tablet-show-inline {
        display: inline-block;
    }

    .tablet-hide {
        display: none;
    }
}

@media @mobile {

    .mobile-show {
        display: block;
    }

    .mobile-show-inline {
        display: inline-block;
    }

    .mobile-hide {
        display: none;
    }
}
