.partners-page {

    a {
        color: @main-green;

        &:hover {
            color: @black;
        }
    }
}

.partners-header {
    text-align: right;
}

.partners-header-info,
.partners-img {
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
}

.partners-header-info {
    width: 27.3%;
    padding-right: 100px;
    text-align: left;
}

.partners-img {
    width: 50%;
}

.partners-title {
    text-align: left;
}

.partners-desc {
    margin-bottom: 70px;
}

.partners-presentation {
    font-size: 24px;
}

.partners-content {
    margin-top: 80px;
    text-align: center;
}

.partners-privilege-img,
.partners-privilege-info {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
}

.partners-privilege-info {
    text-align: left;
    padding-left: 110px;
    padding-top: 60px;

    p, & > div {
        max-width: 515px;
    }

    p {
        margin: 25px 0;
    }

    & > div {
        line-height: 24px;
    }

    h3 {

        &:before {
            content: '01';
            position: absolute;
            left: 0;
            top: -120px;
            font-family: 'Lato', 'Open Sans', sans-serif;
            font-size: 220px;
            font-weight: 100;
            color: @main-green;
            opacity: 0.2;
        }
    }
}

.partners-approach {
    margin: 200px 0 160px;

    h3 {
        margin: 0 0 50px;
    }

    p {
        margin: 0;
        font-size: 24px;
        line-height: normal;
    }
}

.partners-process-img,
.partners-process-info {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
}

.partners-process-info {
    text-align: left;
    padding-left: 160px;

    p {
        max-width: 550px;
        margin: 25px 0;
    }

    h3 {

        &:before {
            content: '02';
            position: absolute;
            left: 0;
            top: -120px;
            font-family: 'Lato', 'Open Sans', sans-serif;
            font-size: 220px;
            font-weight: 100;
            color: @main-green;
            opacity: 0.2;
        }
    }

    a {
        display: inline-block;
        margin: 105px 0 0;
        font-size: 42px;
    }
}

// #adaptive
// #desktop-normal
@media @desktop-normal {

    .partners-header-info {
        width: 50%;
        padding-left: 40px;
    }

    .partners-header-info,
    .partners-title {
        text-align: right;
    }
}

// #desktop-small
@media @desktop-small {

    .partners-privilege-info,
    .partners-process-info {
        padding-top: 100px;
    }
}

// #tablet
@media @tablet {

    .partners-process-info {

        a {
            display: block;
            margin-top: 50px;
            font-size: 34px;
            text-align: center;
        }
    }
}

// #mobile
@media @mobile {

    .partners-page {
        padding: 50px 15px 0;
    }

    .partners-header-info,
    .partners-img {
        display: block;
        width: 100%;
        margin-right: 0;
    }

    .partners-header-info,
    .partners-title {
        padding: 0;
        text-align: center;
    }

    .partners-desc {
        margin-bottom: 5px;
    }

    .partners-img {
        margin-top: 25px;
    }

    .partners-privilege-info,
    .partners-process-info {
        padding-top: 30px;
        padding-left: 0;

        h3 .index {
            display: none;
        }
    }

    .partners-approach {
        margin: 50px 0;
    }

    .partners-process-info {

        a {
            margin-top: 30px;
        }
    }
}
