.product-page {
    background: @white;

    h3 {
        color: @black;
    }
}

.product-info,
.product-gallery {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
}

.product-info {
    width: 30%;
    padding: 50px 0 0;

    h1 {
        margin: 15px 0;
        text-align: left;
        -ms-word-break: break-all;
        word-break: break-all;
        word-wrap: break-word;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
    }

    hr {
        margin: 30px 0 25px;
    }
}

.product-gallery {
    width: 70%;
    padding-left: 10px;
}

// #breadcrumbs
.breadcrumbs {

    li {
        display: inline-block;
        margin-right: 1px;
        vertical-align: top;
    }

    &,
    a {
        font-size: 14px;
    }

    a:after {
        content: '/';
        margin-left: 5px;
        font-size: 14px;
    }

    a:hover:after {
        color: @black;
    }
}

.product-desc {
    margin-bottom: 10px;
}

.product-attr,
.product-desc {

    img {
        display: inline-block;
        margin-right: 20px;
    }
    img:last-of-type {
        margin-right: 0;
    }
}

.product-attr-title {
    display: block;
    margin-bottom: 10px;
    font-weight: 300;
}

.product-finishes {
    margin-top: 5px;
}

.product-collection-goods {
    margin: 25px 0;

    a {
        display: block;
        padding: 5px 0;
        color: @gray;
    }
    a:hover,
    a:hover span {
        color: @main-green;
    }
}

.product-collection-title {
    display: inline-block;
    width: 40%;
    color: @black;
}

.product-bar {

    .button-simple,
    .catalog-goods-price {
        display: inline-block;
        vertical-align: middle;
    }

    .button-simple {
        padding-left: 40px;
        padding-right: 40px;
    }

    .catalog-goods-price {
        margin-left: 20%;
        margin-top: 0;
    }
}

.product-add-links {

    a {
        display: block;
        margin-bottom: 20px;
        color: @main-green;
    }
    a:hover {
        text-decoration: underline;
    }
    a:last-of-type {
        margin-bottom: 0;
    }
}

.product-gallery-small {
    margin: 10px -5px 0;

    img {
        margin: 0 5px;
        border: 1px solid transparent;
        outline: none;
    }
    img.slick-current {
        border-color: @main-green;
    }
}

// #collection goods
.goods-widget {
    margin-top: 50px;
}

.goods-widget-container {
    margin: 0 -12.5px 0;
}

.goods-widget-single {
    display: inline-block;
    width: 25%;
    margin-right: -4px;
    padding: 25px 12.5px 0;
}

.goods-single-img {
    display: block;
    width: 100%;
    height: auto;
}

.goods-single-inner {
    position: relative;
    min-height: 0;
    overflow: hidden;

    &:hover .goods-single-info {
        transform: translateX(0);
    }
}

.goods-single-info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    transform: translateX(-100%);
    transition: all 0.25s ease;
    background: fade(@blackest, 77%);

    &,
    a:not(.goods-single-more) {
        color: @white;
    }

    a:not(.goods-single-more):hover {
        color: @main-green;
    }

    .goods-single-img,
    .goods-single-category,
    .goods-single-title,
    .goods-single-desc,
    .catalog-goods-price,
    .goods-single-more {
        margin: auto;
    }
}

.goods-single-desc {
    line-height: 22px;
}

.goods-single-more {
    height: 42px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 42px;
}

// #adaptive
// #desktop normal
@media @desktop-normal {

    .goods-single-info {
        padding: 5px;

        .goods-single-title {
            font-size: 26px;
        }

        .goods-single-desc {
            font-size: 14px;
            line-height: 20px;
        }

        .catalog-goods-price {
            font-size: 26px;
        }
    }
}

// #desktop small
@media @desktop-small {

    .product-info {
        width: 40%;
    }

    .product-gallery {
        width: 60%;
    }

    .goods-widget-single {
        width: 33.333333333%;
        width: ~"calc(100% / 3)";
        width: ~"-webkit-calc(100% / 3)";
        width: ~"-moz-calc(100% / 3)";
        width: ~"-o-calc(100% / 3)";
        width: ~"-ms-calc(100% / 3)";
    }

    .goods-single-info {

        .goods-single-desc {
            display: none;
        }
    }
}

// #tablet
@media @tablet {

    .product-info,
    .product-gallery {
        width: 50%;
    }
}

// #mobile
@media @mobile {

    .product-page {

        .container {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            -webkit-display: flex;
            -moz-display: flex;
            -ms-display: flex;
            -o-display: flex;
            display: flex;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            -o-flex-direction: column;
            flex-direction: column;
        }
    }

    .product-info,
    .product-gallery {
        display: block;
        width: 100%;
        margin-right: 0;
    }

    .product-gallery { order: 1; margin-top: 15px; padding-left: 0; }
    .product-info { order: 2; padding-top: 30px; }
    .goods-collection { order: 3; }
    .goods-popular { order: 4; }

    .product-collection-goods {

        a {
            text-align: right;
        }
    }

    .product-collection-title {
        width: 50%;
        float: left;
        text-align: left;
    }

    .product-bar {

        .button-order,
        .catalog-goods-price {
            display: block;
            width: 100%;
            margin-right: 0;
            text-align: center;
        }

        .catalog-goods-price {
            margin: 20px 0 0;
        }
    }

    .goods-widget {

        h3 {
            margin-bottom: 25px;
        }
    }

    .goods-widget-container {
        margin: 0;
    }

    .goods-widget-single {
        display: block;
        width: 100%;
        margin: 0 0 20px;
        padding: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
