.catalog-page {
    background: darken(@white, 2.5%);
}

// #navbar
.catalog-navbar {
    padding: 15px 0;

    .dropdown div {
        background: darken(@white, 2.5%);
    }
}

.catalog-navbar-categories {

    a {
        display: inline-block;
        margin-right: -4px;
        padding: 15px;
        line-height: 1;
        vertical-align: top;
    }
    a:last-of-type {
        padding-right: 0;
    }
    a:first-of-type {
        padding-left: 0;
    }
    .current {
        color: @main-green;
    }
}

.catalog-sort-type {
    padding: 15px 0;
}

// #show style
.catalog-navbar-style,
.catalog-style-type {
    display: inline-block;
    //margin-right: -4px;
    margin-left: 5px;
    vertical-align: middle;
}
.catalog-style-type {
    width: 47px;
    height: 47px;
    padding: 15px;
    line-height: 0;
    border: 1px solid transparent;
    cursor: pointer;

    &.current,
    &:hover {
        border-color: @main-green;

        span {
            background: @main-green;
        }
    }
}

.style-type-line {
    display: block;
    height: 2px;
    margin-bottom: 5px;
    background: @black;
}
.style-type-line:last-of-type {
    margin-bottom: 0;
}

.style-type-block {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: -4px;
    margin-bottom: 2px;
    background: @black;
    vertical-align: top;
}
.style-type-block:nth-of-type(odd) {
    margin-right: -3px;
}
.style-type-block:nth-of-type(even) {
    margin-left: 2px;
}

// #goods
.catalog-goods {
    padding: 15px 0;
}
.catalog-cards {
    margin: 0 -15px;

    .catalog-goods-single {
        display: inline-block;
        width: 25%;
        margin-right: -4px;
        margin-bottom: 30px;
        padding: 0 15px;
        vertical-align: top;
    }

    .catalog-goods-gallery {
        position: relative;

        &:after {
            position: absolute;
            z-index: 1;
            content: '';
            width: 0;
            height: 0;
            bottom: 0;
            border-style: solid;
            border-width: 0 0 50px 435px;
            border-color: transparent transparent #ffffff transparent;
            visibility: visible;
        }
    }

    .catalog-goods-inner {
        overflow: hidden;
        background: @white;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    }
    .catalog-goods-inner:hover {
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35);
    }

    .catalog-goods-content {
        margin-top: -10px;
        padding: 0 13.8% 20px;
        //padding: 0 10% 20px; #otherwise button may be too wide
    }
}
.catalog-list {
    padding-bottom: 45px;

    .catalog-goods-single {
        padding: 5px 0;
        border-bottom: 1px solid @light-gray;
    }
    .catalog-goods-single:first-child {
        padding-top: 0;
    }
    .catalog-goods-single:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }

    .catalog-goods-gallery,
    .catalog-goods-content {
        display: inline-block;
        margin-right: -4px;
        vertical-align: middle;
    }

    .catalog-goods-gallery {
        width: 75%;
    }

    .catalog-goods-content {
        width: 25%;
        padding-left: 2.19418540867%;
        padding-right: 3.291278113%;
    }

    .button {

        span {
            background: darken(@white, 2.5%);
        }
    }
}

.catalog-goods-img {
    display: block;
    width: 100%;
    height: auto;
}

.catalog-goods-category {
    display: block;
    margin: 5px 0;
    font-size: 14px;
}

.catalog-goods-collection {
    position: relative;
    margin: 0;
    padding-right: 35px;
    text-align: right;
    font-size: 12px;
    z-index: 1;
}

.catalog-goods-collection-year {
    display: block;
    margin-right: -35px;
    margin-top: -18px;

    span {
        font-size: 30px;
    }
}

.catalog-goods-title {
    line-height: 36px;
}

.catalog-goods-collection,
.catalog-goods-category,
.catalog-goods-title a {
    color: @main-green;
}

.catalog-goods-desc {
    margin: 15px 0;
}

.catalog-goods-price {
    margin-top: 15px;
    font-size: 30px;
    color: @light-red;
}

.catalog-goods-price-sale {
    display: inline-block;
    margin-left: 5px;
    font-size: 16px;
    color: @gray;
    text-decoration: line-through;
}

// #other furniture
.catalog-other-nav {
    width: 25%;

    h3 {
        margin: 0 0 15px;
        color: @black;
    }

    ul {

        a {
            display: inline-block;
            padding: 10px 0;
        }
    }
    ul:not(:first-of-type) {
        margin-top: 30px;
    }
}

.catalog-other-goods {
    width: 75%;
}

.catalog-cards {

    .catalog-other-nav {
        padding-left: 15px;
    }

    .catalog-other-goods .catalog-goods-single {
        width: 33.333333333333%;
    }
}

// #adaptive
// #desktop normal
@media @desktop-normal {

    .catalog-cards {

        .catalog-goods-content {
            padding: 0 5% 20px;
        }
    }
}

// #desktop small
@media @desktop-small {

    .catalog-navbar-categories {

        // #sort width = 305px
        width: 640px;
        width: ~"calc(100% - 305px)";
        width: ~"-webkit-calc(100% - 305px)";
        width: ~"-moz-calc(100% - 305px)";
        width: ~"-o-calc(100% - 305px)";
        width: ~"-ms-calc(100% - 305px)";
        margin-left: -15px;

        a:first-child {
            padding-left: 15px;
        }
    }

    .catalog-cards {

        .catalog-goods-single {
            width: 33.333333333%;
        }
    }
}

// #tablet
@media @tablet {

    .catalog-navbar-categories {
        display: none;
    }

    .catalog-cards {

        .catalog-goods-single {
            width: 50%;
        }

        .catalog-goods-gallery {

            &:after {
                border-width: 0 0 50px 460px;
            }
        }
    }

    .catalog-list {

        .catalog-goods-gallery {
            width: 60%;
        }

        .catalog-goods-content {
            width: 40%;
        }
    }

    // #catalog other
    .catalog-other-nav {
        width: 30%;
    }

    .catalog-other-goods {
        width: 70%;
    }

    .catalog-cards {

        .catalog-other-goods {

            .catalog-goods-single {
                width: 50%;
            }
        }
    }

}

// #mobile
@media @mobile {

    .catalog-navbar {
        text-align: center;
    }

    .catalog-navbar-categories-mobile {
        display: block;
        margin-bottom: 15px;
    }

    .catalog-navbar-sort {
        float: none;
    }

    .catalog-navbar-categories-mobile,
    .catalog-navbar-sort {

        .dropdown {
            text-align: left;
        }
    }

    .catalog-navbar-style {
        display: none;
    }

    .catalog-cards {
        margin: 0;

        .catalog-goods-single {
            display: block;
            width: 100%;
            margin-right: 0;
            padding: 0;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .catalog-goods-gallery {

            &:after {
                content: none;
            }
        }

        .catalog-goods-content {
            margin-top: 0;
            padding: 15px;
        }
    }

    // #catalog other
    .catalog-other-nav,
    .catalog-other-goods {
        float: none;
        width: 100%;
    }

    .catalog-other-goods {
        margin-top: 30px;
    }

    .catalog-cards {

        .catalog-other-nav {
            padding-left: 0;
        }

        .catalog-other-goods {

            .catalog-goods-single {
                width: 100%;
            }
        }
    }
}
