.news-page {
    padding: 80px 0 0;
    background: darken(@white, 5%);

    h1, h2 {
        margin-bottom: 45px;
        text-align: center;
    }

    h2 {
        margin-top: 160px;
    }
}

// #single news
.news-single {
    float: left;
    padding: 10px;
}

.news-inner {
    padding: 15px 10px;
    background: fade(@white, 60%);
}

.news-single-img {

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.news-single-date {
    margin: 0;
}

.news-single-title {
    margin: 10px 0;

    a {
        color: @main-green;
    }
}

// #latest news
.news-latest {
    margin: 0 -10px;
}
.news-latest-single {
    width: 50%;

    .news-single-img,
    .news-single-content {
        display: inline-block;
        margin-right: -4px;
        vertical-align: top;
    }

    .news-single-content {
        width: 54.5%;
        padding: 10px 10px 0 20px;
    }

    .news-single-img {
        width: 45.5%;
        overflow: hidden;

        img {
            width: auto;
        }
    }
}

// #big latest article
.news-latest-big {

    .news-single-img,
    .news-single-content {
        display: block;
        width: 100%;
        margin: 0;
    }

    .news-single-img {

        img {
            width: 100%;
            height: auto;
        }
    }

    .news-single-content {
        padding: 20px 10px 0;
    }
}

// #archive news
.news-archive {
    margin: 0 -20px;
}

.news-archive-single {
    width: 25%;
    padding: 20px;

    .news-single-content {
        padding: 25px 20px 20px;
    }
}

// #single news page
.news-single-page {
    padding: 70px 0 0;

    .news-single-header {
        margin-bottom: 80px;
        text-align: right;
    }

    .news-single-img,
    .news-single-header-info {
        display: inline-block;
        margin-right: -4px;
        vertical-align: middle;
    }

    .news-single-img {
        width: 50%;
        height: auto;
    }

    .news-single-header-info {
        width: 25%;
        padding-right: 100px;
        text-align: left;
    }

    .news-single-title {
        margin: 0 0 70px;
        text-align: left;
    }

    .news-single-header-desc {
        margin: 0;
    }

    .news-single-content {

        .container {
            width: 82.63%;
            padding: 0;
        }

        p {
            max-width: 840px;
            margin: 30px auto;

            &:after {
                content: ".";
                display: block;
                clear: both;
                visibility: hidden;
                line-height: 0;
                height: 0;
            }
        }

        img {
            display: block;
            max-width: 840px;
            width: 100%;
            margin-top: 5px;
            margin-left: auto;
            margin-right: auto;
        }

        img.to-right,
        img[style*=right] {
            width: 50%;
            margin-bottom: 50px;

            & + p {
                width: 35%;
                float: right;
                margin: 0;
                padding-top: 80px;
                padding-right: 70px;
            }
        }

        img.to-left,
        img[style*=left] {
            width: 50%;
            margin-bottom: 50px;

            & + p {
                width: 35%;
                float: left;
                margin: 0;
                padding-top: 80px;
                padding-left: 70px;
            }
        }
    }
}

// #adaptive

// #desktop
@media @desktop-normal {

    .news-single-page {

        .news-single-header-info {
            width: 50%;
            padding-left: 25px;
        }

        .news-single-header-info,
        .news-single-title {
            text-align: right;
        }
    }
}

// #desktop small
@media @desktop-small {

    .news-archive-single {
        width: 33.333333333%;
    }

    .news-single-page {

        .news-single-header-info {
            padding-right: 25px;
        }

        .news-single-content {

            img.to-left + p,
            img[style*=left] + p {
                width: 50%;
                padding-top: 25px;
                padding-left: 25px;
            }

            img.to-right + p,
            img[style*=right] + p {
                width: 50%;
                padding-top: 25px;
                padding-right: 25px;
            }
        }
    }
}

// #tablet
@media @tablet {

    .news-page {
        padding-top: 60px;

        h2 {
            margin-top: 60px;
        }
    }

    .news-latest-big {

        .news-inner {
            height: auto !important;
        }
    }

    .news-latest {
        margin: 0;
    }

    .news-latest-single {
        float: none;
        width: 100%;
        margin: 0 0 20px;
        padding: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .news-archive {
        margin: 0 -15px;
    }

    .news-archive-single {
        width: 50%;
        padding: 15px;
    }

    .news-single-page {

        .news-single-header,
        .news-single-content .container {
            padding: 0 15px;
        }

        .news-single-header-info {
            padding-left: 0;
        }

        .news-single-content {

            .container {
                width: 100%;
            }
        }
    }
}

// #mobile
@media @mobile {

    .news-latest-single:not(.news-latest-big) {

        .news-single-img,
        .news-single-content {
            display: block;
            width: 100%;
            margin: 0;
        }

        .news-single-img {

            img {
                width: 100%;
                height: auto;
            }
        }

        .news-single-content {
            padding: 20px 10px 0;
        }
    }

    .news-archive-single {
        width: 100%;

        .news-single-content {
            padding: 20px 10px 0;
        }
    }

    .news-single-page {
        position: relative;

        .news-single-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            margin: 0;
            opacity: 0.2;
        }

        .news-single-header-info {
            position: relative;
            display: block;
            width: 100%;
            margin: 0;
            padding: 0;
            z-index: 1;
        }

        .news-single-header-info,
        .news-single-title {
            text-align: left;
        }

        .news-single-title {
            margin-bottom: 15px;
        }

        .news-single-content {

            img {
                max-width: 100%;
                margin-top: 0;
            }

            img,
            img + p {
                width: auto !important;
                float: none !important;
            }

            img {
                margin-bottom: 30px !important;
            }

            img + p {
                padding: initial !important;
            }
        }
    }
}
