.body-index-page {
    height: 3000px;

    main {
        padding-top: 0;
        position: relative;
    }
}

.index-page {

    .container {
        max-width: 1280px;
        padding: 0 20px;

        color: @blackest;
    }

    hr {
        max-width: 175px;
        background: @blackest;
        opacity: 1;
    }
}

.index-first-screen,
.index-page {

    &:after {
        content: none;
    }
}

// #first screen (slider)
.index-first-screen {
    position: relative;
    min-height: 100vh;
}

.index-logo {
    position: absolute;
    top: 19%;
    left: 50%;
    width: 250px;
    margin-left: -125px;
    text-align: center;
    color: @white;
    z-index: 1;

    strong {
        display: block;
        margin-top: 15px;
        font-weight: 300;
    }

    &:hover {
        color: @white;
    }
}

.index-slider,
.index-slider-slide {
    height: 100vh;
}

.index-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.index-slider-slide {
    position: relative;
    text-align: center;
    color: @white;
}

.index-slider-info {
    position: absolute;
    left: 0;
    bottom: 23.7%;
    width: 100%;
    height: auto;
}

.index-slider-num {
    position: absolute;
    left: 0;
    top: -80px;
    width: 100%;
    font-family: 'Lato', 'Open Sans', sans-serif;
    font-size: 220px;
    font-weight: 100;
    line-height: 1;
    text-align: center;
    opacity: 0.15;
    z-index: -1;
}

.index-slider-cat,
.index-slider-title a {
    color: @white;

    &:hover {
        color: @main-green;
    }
}

.index-slider-title {
    margin-top: 5px;
    text-transform: uppercase;
}

.index-slider-desc {
    width: 525px;
    margin: 5px auto 25px;
}

.index-slider-prev,
.index-slider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    font-style: italic;
    color: @white;
    z-index: 1;

    span {
        position: absolute;
        bottom: -25px;
        font-family: 'Lato', 'Open Sans', sans-serif;
        font-size: 100px;
        line-height: 1;
        font-weight: 100;
        font-style: normal;
        opacity: 0.2;
    }

    &:before,
    &:after {
        position: absolute;
        top: 50%;
        opacity: 0.35;
    }
}

.index-slider-prev {
    left: 17.7%;

    span {
        left: -30px;
    }

    &:before {
        content: url('../img/icon-mainarrow-white.png');
        left: -50px;
        margin-top: -15px;
        transform: rotate(180deg);
    }
}
.index-slider-next {
    right: 17.7%;

    span {
        right: -30px;
    }

    &:after {
        content: url('../img/icon-mainarrow-white.png');
        right: -50px;
        margin-top: -11px;
    }
}

.index-navigation {
    position: absolute;
    left: 40px;
    bottom: 12%;
    z-index: 1;

    ul {

        li {
            height: 32px;
            margin-bottom: 35px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            position: relative;
            display: block;
            font-size: 14px;
            line-height: 32px;
            color: @white;

            span {
                position: absolute;
                left: -10px;
                bottom: 2px;
                font-family: 'Lato', 'Open Sans', sans-serif;
                font-size: 44px;
                font-weight: 100;
                opacity: 0.2;
            }

            &:hover {
                color: @main-green;
            }
        }
    }
}

.index-learn-more {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 105px;
    margin-left: -52.5px;
    text-align: center;
    color: @white;
    cursor: pointer;
    z-index: 1;

    &:hover {
        color: @main-green;

        .learn-more-line {
            background: @main-green;
        }
    }
}

.learn-more-line {
    display: block;
    width: 1px;
    height: 45px;
    margin: 20px auto 0;
    background: @white;
}

// #catalog
.index-catalog {
    position: relative;
    padding: 75px 0 0;

    .container {
        background: url('../img/bg-index-catalog.jpg') no-repeat top 55px right;
    }

    hr {
        margin: 50px 0 5px;
    }
}

.index-catalog-categories {
    margin: 0 -15px;

    a {
        display: inline-block;
        padding: 15px;
        font-size: 18px;
        vertical-align: top;

        &:last-child {
            margin-right: -4px;
        }
    }
}

.index-catalog-desc,
.index-catalog-img {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
}

.index-catalog-desc {
    max-width: 395px;
    padding-top: 20px;
}

.index-catalog-img {
    width: ~"calc(100% - 475px)";
    width: ~"-webkit-calc(100% - 475px)";
    width: ~"-ms-calc(100% - 475px)";
    width: ~"-o-calc(100% - 475px)";
    width: ~"-moz-calc(100% - 475px)";
    margin-left: 80px;
}

// #about us
.index-about {
    padding: 100px 0 0;
    text-align: center;

    hr {
        margin: 10px auto 25px;
    }
}

.index-about-desc {
    max-width: 950px;
    margin: 0 auto;
}

// #news
.index-news {
    padding: 150px 0 0;

    hr {
        margin: 15px 0 20px;
    }
}

.index-news-header {
    max-width: 510px;
    padding-right: 25px;
}

.index-news-list {
    margin-top: -150px;
}

.index-news-single {
    width: 600px;
    margin-bottom: 60px;
}

.index-news-single-img,
.index-news-single-info {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: middle;
}

.index-news-single-img {

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.index-news-single-info {
    padding: 0 10px;

    .button-simple {
        margin-top: 15px;
    }
}

.index-news-single-title {
    font-size: 22px;
    line-height: normal;
}

.index-news-single-date {
    display: block;
    font-size: 14px;
}

.index-news-single-title {
    margin: 10px 0;

    a:not(:hover) {
        color: @blackest;
    }
}

.index-news-single-desc {
    margin: 0;
}

.index-news-single:nth-child(2) {
    margin-left: 27.5%;
}
.index-news-single:nth-child(4) {
    float: right;
    margin-top: -220px;
}

// #contacts
.index-contacts {
    padding: 80px 0 40px;
    text-align: center;

    hr {
        margin: 10px auto;
    }
}

.index-contacts-desc {
    max-width: 950px;
    margin: 0 auto;
}

.index-contacts-map {
    width: 820px;
    margin: 30px auto 0;
    padding: 0 60px 60px;
    background: url('../img/bg-index-contacts.jpg') no-repeat bottom right;
}
