.about-page {
    padding-top: 190px;
    text-align: center;
    background: url('../img/bg-about.jpg') no-repeat top 55px right;

    a {
        color: @main-green;

        &:hover {
            color: @black;
        }
    }

    .ghost-letters {

        &:before {
            position: absolute;
            font-family: 'Lato', 'Open Sans', sans-serif;
            font-size: 220px;
            font-weight: 100;
            color: @main-green;
            opacity: 0.2;
        }
    }
}

.about-header {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 220px;
}

.about-header,
.about-title {
    text-align: left;
}

.about-desc {
    margin-bottom: 0;
}

.about-us {
    margin-top: 180px;
}

.about-us-desc,
.about-us-img-1,
.about-us-img-2 {
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
}

.about-us-desc {
    max-width: 355px;
    text-align: left;

    h3 {
        margin-bottom: 45px;

        &:before {
            content: '01';
            left: -45px;
            top: -125px;
        }
    }
}

.about-us-img-1 {
    margin-top: 155px;
    margin-left: 125px;
}

.about-us-img-2 {
    margin-top: 110px;
    margin-left: 15px;
}

.about-work {
    margin-top: 95px;

    h3 {
        margin-bottom: 125px;
    }
}

.about-work-img,
.about-work-catalog {
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
}

.about-work-catalog {
    margin-left: 200px;
}

.about-quality {
    margin-top: 220px;

    h3 {
        display: inline-block;
        margin-bottom: 45px;
        margin-left: 245px;

        &:before {
            content: '02';
            left: -125px;
            top: -135px;
        }
    }
}

.about-quality-desc,
.about-quality-img {
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
}

.about-quality-img {
    margin-left: 380px;
}

.about-collections {
    margin-top: 295px;

    h3 {

        &:before {
            content: '03';
            left: -80px;
            top: -110px;
        }
    }
}

.about-collections-img,
.about-collections-desc {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
}

.about-collections-desc {
    max-width: 360px;
    margin-left: 105px;
    text-align: left;

    p {
        margin: 40px 0 60px;
    }
}

.about-collections-img {
    margin-top: 25px;
}

.about-collections-2015 {
    margin-top: 150px;

    h3 {
        display: inline-block;
        margin-bottom: 90px;

        &:before {
            content: '04';
            left: -90px;
            top: -110px;
        }
    }
}

.about-collections-2015-img,
.about-collections-2015-desc {
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
}

.about-collections-2015-desc {
    max-width: 365px;
    text-align: left;

    p {
        margin-top: 0;
        margin-bottom: 30px;
    }
}

.about-collections-2015-img {
    margin-left: 125px;
}

// #adaptive
// #desktop normal
@media @desktop-normal {

    .about-quality-img {
        margin-left: 260px;
    }
}

// #desktop small
@media @desktop-small {

    .about-us-img-1 {
        margin-left: 35px;
    }
}

// #tablet
@media @tablet {

    .about-page {
        padding-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
        background: url(../img/bg-about.jpg) top right no-repeat;
    }

    .about-header {
        padding: 120px 0;
    }

    .about-us-desc,
    .about-collections-2015-desc {
        padding-right: 15px;
    }

    .about-us-img-1 {
        width: 30%;
    }

    .about-us-img-2 {
        width: 20%;
    }

    .about-us-desc,
    .about-quality-img,
    .about-quality-desc,
    .about-work-img,
    .about-work-catalog,
    .about-collections-img,
    .about-collections-desc,
    .about-collections-2015-desc,
    .about-collections-2015-img {
        width: 50%;
        max-width: 100%;
    }

    .about-us-img-1,
    .about-us-img-2,
    .about-quality-img,
    .about-work-catalog,
    .about-collections-desc,
    .about-collections-2015-img {
        margin-left: 0;
    }

    .about-collections-desc {
        padding-left: 15px;
    }
}

// #mobile
@media @mobile {

    .about-us-img-1,
    .about-us-img-2,
    .about-us-desc,
    .about-quality-img,
    .about-quality-desc,
    .about-work-img,
    .about-work-catalog,
    .about-collections-img,
    .about-collections-desc,
    .about-collections-2015-desc,
    .about-collections-2015-img {
        display: block;
        width: 100%;
        margin-right: 0;
        max-width: 100%;
    }

    .about-us {
        margin-top: 100px;

        h3 {
            margin-bottom: 15px;
        }
    }

    .about-us-img-1,
    .about-us-img-2 {
        margin-top: 25px;
    }

    .about-work {
        margin-top: 50px;

        h3 {
            margin-bottom: 15px;
        }
    }

    .about-work-catalog {
        margin-top: 15px;
    }

    .about-quality {
        margin-top: 50px;

        h3 {
            display: block;
            margin-left: 0;
            margin-bottom: 0;
        }
    }

    .about-quality-desc {
        margin-top: 0;
    }

    .about-collections,
    .about-collections-2015 {
        margin-top: 50px;
    }

    .about-collections-desc {
        padding-left: 0;

        h3 {
            margin-top: 15px;
        }

        p {
            margin: 15px 0;
        }
    }

    .about-collections-2015 {

        h3 {
            display: block;
            margin-right: 0;
            margin-bottom: 15px;
        }
    }

    .about-collections-2015-desc {
        margin-top: -15px;
        padding-right: 0;

        p {
            margin-bottom: 15px;
        }
    }

    .about-collections-2015-img {
        margin-top: 15px;
    }
}
