.contacts-page {
    padding-top: 50px;

    .container {
        padding: 0 11.45%;
    }

    h1 {
        margin-bottom: 90px;
    }

    h3 {
        margin-bottom: 15px;
        color: @black;
    }
}

.contacts-address {

    address {
        line-height: 25px;
    }
}

.contacts-address-map {
    margin-top: 25px;

    & > ymaps,
    .contacts-address-info {
        float: left;
    }
}

.contacts-address-info,
.contacts-network-info {
    margin-left: 20px;

    ul {
        list-style: none;
        margin: 20px 0;
        padding: 0;

        li {
            padding: 3px 0;
        }

        span {
            margin-right: 5px;
        }
    }
}

.contacts-form {
    width: 385px;
}

// #network
.contacts-network {
    margin: 120px 0 0;

    h3 {
        margin-bottom: 30px;
    }

    .tabs {
        margin-top: -10px;
    }
}

.contacts-network-nav {
    margin-bottom: 10px;

    .dropdown ul {
        background: @white;
    }
}

.contacts-network-single {
    margin-bottom: 30px;
}
.contacts-network-single:last-of-type {
    margin-bottom: 0;
}

.contacts-network-map,
.contacts-network-info {
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
}

.contacts-network-map {
    width: 73%;
}

.contacts-network-info {
    width: 27%;
    margin-left: 0;
    padding-left: 30px;

    h3 {
        margin-bottom: -10px;
    }
}

// #adaptive
// #desktop normal
@media @desktop-normal {

    .contacts-address-map {

        & > ymaps {
            display: none !important;
        }

        .contacts-address-info {
            float: none;
            margin-left: 0;
            margin-top: 10px;
        }
    }

    .contacts-network {
        margin-top: 50px;
    }
}

// #desktop small
@media @desktop-small {

    .contacts-network-map {
        width: 70%;

        & > ymaps {
            height: 450px !important;
        }
    }

    .contacts-network-info {
        width: 30%;
    }
}

// #tablet
@media @tablet {

    .contacts-address,
    .contacts-form {
        width: 50%;
    }

    .contacts-network-map {
        width: 60%;

        & > ymaps {
            height: 400px !important;
        }
    }

    .contacts-network-info {
        width: 40%;
    }
}

// #mobile
@media @mobile {

    .contacts-page {

        .container {
            padding: 0 15px;
        }
    }

    .contacts-address-map {

        & > ymaps {
            display: block !important;
            width: 100% !important;
            height: 200px !important;
            margin-bottom: 25px;
        }
    }

    .contacts-address,
    .contacts-form {
        float: none;
        display: block;
        width: 100%;
    }

    .contacts-network {

        .tabs {
            margin-top: 0;
        }

        .tab {
            padding-top: 10px;
        }
    }

    .contacts-network-nav {
        text-align: right;

        .dropdown {
            text-align: left;
        }
    }

    #network-map > ymaps,
    .contacts-network-map > ymaps {
        width: 100% !important;
        height: 250px !important;
    }

    .contacts-network-map,
    .contacts-network-info {
        float: none;
        display: block;
        width: 100%;
        margin: 0;
    }

    .contacts-network-info {
        padding-left: 0;
        padding-top: 10px;
    }
}
