.body-error-page {
    min-height: 100vh;
    background: url('../img/bg-404.jpg') no-repeat right center;

    footer {
        position: absolute;
        width: 100%;
        bottom: 40px;
        left: 0;
        padding: 0;
    }
}

.error-page {
    position: absolute;
    left: 14.84375%;
    top: 50%;
    transform: translateY(-50%);

    p {
        max-width: 620px;
        margin: 30px 0 60px;
    }

    h1 {

        &:before {
            content: '00';
            position: absolute;
            left: -60px;
            bottom: 30px;
            font-family: 'Lato', 'Open Sans', sans-serif;
            font-size: 220px;
            font-weight: 100;
            color: @light-gray;
        }
    }

    .button {

        span {
            background:  transparent;
        }
    }
}

// #adaptive
// #desktop normal
@media @desktop-normal {

    .body-error-page {
        background-size: cover;
    }
}

// #tablet
@media @tablet {

    .error-page {
        h1 {
            text-align: left;
        }
    }
}

// #mobile
@media @mobile {

    .body-error-page {
        position: relative;
        height: auto;

        footer {
            position: static;
            padding: 0 15px 15px;
        }
    }

    .error-page {
        position: static;
        padding: 30px 0;
        transform: none;

        p {
            margin: 15px 0;
        }
    }
}
