.search-page {
    padding-top: 70px;
    background: url('../img/bg-search.jpg') no-repeat right top;

    .container {
        width: 1000px;
        padding: 0;
    }

    h1 {
        text-align: left;
    }
}

.search-panel {
    margin-top: 30px;
    padding-bottom: 80px;
}

.search-text,
.search-button {
    float: left;
}

input[type=text].search-text {
    width: 945px;
    width: ~"-webkit-calc(100% - 55px)";
    width: ~"-o-calc(100% - 55px)";
    width: ~"-moz-calc(100% - 55px)";
    width: ~"-ms-calc(100% - 55px)";
    width: ~"calc(100% - 55px)";
    margin: 0;
    padding-top: 18.5px;
    padding-bottom: 18.5px;
    border: none;
    border-radius: 0;
    box-shadow: 0px 0px 26px 0px fade(@blackest, 8%);

    &:focus {
        box-shadow: 0px 0px 26px 0px fade(@blackest, 12%);
    }
}

input[type=submit].search-button {
    width: 55px;
    height: 55px;
    background: url('../img/icon-search-white.png') no-repeat center center @main-green;
    border: none;
    transition: none;

    &:hover {
        background: url('../img/icon-search-white.png') no-repeat center center lighten(@main-green, 5%);
    }
}

.search-results {
    margin-top: 20px;
}

.search-single {
    padding: 30px 0;
    border-bottom: 1px solid @light-gray;
}
.search-single:last-of-type {
    border-bottom: none;
}

.search-single-img,
.search-single-content {
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
}

.search-single-img {
    width: 23%;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
    }
}

.search-single-content {
    width: 100%;
    padding: 0;
}

.search-single-img + .search-single-content {
    width: 77%;
    padding-left: 20px;
}

.search-single-title {

    a {
        color: @main-green;
    }
}

.search-single-desc {
    margin: 10px 0 15px;
}

// #adaptive
// #desktop-normal
@media @desktop-normal {

    .search-page {
        background: url('../img/bg-search.jpg') right -250px top no-repeat;
    }
}

// #tablet
@media @tablet {

    .search-page {
        background: url('../img/bg-search.jpg') right -470px top no-repeat;

        .container {
            width: 100%;
            padding: 0 15px;
        }
    }

    .search-results {
        margin-top: 45px;
    }

    .search-single-img {
        width: 30%;
    }

    .search-single-img + .search-single-content {
        width: 70%;
    }
}

// #mobile
@media @mobile {

    .search-page {
        padding-top: 45px;
        background: none;

        h1 {
            text-align: center;
        }
    }

    .search-panel {
        padding-bottom: 0;
    }

    .search-single-img,
    .search-single-content {
        display: block;
        width: 100%;
        margin: 0;
    }

    .search-single-img + .search-single-content {
        width: 100%;
        padding-left: 0;
    }

    .search-single-img {
        margin-bottom: 15px;

        img {
            width: 100%;
            height: auto;
        }
    }
}
