/* --- EASYDROPDOWN DEFAULT THEME --- */

/* PREFIXED CSS */

.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after{
	-webkit-transition: transform 250ms ease-in-out, height 250ms ease;
	-moz-transition: transform 250ms ease-in-out, height 250ms ease;
	-ms-transition: transform 250ms ease-in-out, height 250ms ease;
	transition: transform 250ms ease-in-out, height 250ms ease;
}

.dropdown .selected::after,
.dropdown.scrollable div::after{
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}

/* WRAPPER */

.dropdown{
    display: inline-block;
	position: relative;
	width: 190px;
    margin-right: -4px;
	cursor: pointer;
	background: transparent;
    padding: 15px;
    border: 1px solid transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

    vertical-align: top;
}

.dropdown:hover,
.dropdown.open {
    border-color: #9eca16;
}

.dropdown.open {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.dropdown:hover .selected,
.dropdown.open .selected {
    color: #9eca16;
}

.dropdown:hover .carat,
.dropdown.open .carat {
    border-color: #9eca16 transparent transparent transparent;
}

.dropdown.open{
	z-index: 2;
}


/* CARAT */

.dropdown .carat{
	position: absolute;
	right: 12px;
	top: 50%;
	margin-top: -1px;
    border-style: solid;
    border-width: 5px 4.5px 0 4.5px;
    border-color: #666 transparent transparent transparent;
    -webkit-transition: transform 0.25s ease;
    -o-transition: transform 0.25s ease;
    transition: transform 0.25s ease;
}

.dropdown.open .carat{
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.dropdown.disabled .carat{
	border-top-color: #999;
}

/* OLD SELECT (HIDDEN) */

.dropdown .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}

.dropdown select{
	position: absolute;
	left: 0px;
	top: 0px;
}

.dropdown.touch .old{
	width: 100%;
	height: 100%;
}

.dropdown.touch select{
	width: 100%;
	height: 100%;
	opacity: 0;
}

/* SELECTED FEEDBACK ITEM */

.dropdown .selected,
.dropdown li{
	display: block;
	font-size: 16px;
	line-height: 1;
	color: #666;
	overflow: hidden;
	white-space: nowrap;
}

.dropdown.disabled .selected{
	color: #999;
}


/* DROP DOWN WRAPPER */

.dropdown div{
	position: absolute;
	height: 0;
	left: -1px;
	right: -1px;
	top: 100%;
	margin-top: 5px;
	background: transparent;
    border: none;
	border-radius: 0 0 3px 3px;
	overflow: hidden;
	opacity: 0;
    box-shadow: 0px 4px 11px 3px rgba(0, 0, 0, 0.05);
}

/* Height is adjusted by JS on open */

.dropdown.open div{
	opacity: 1;
	z-index: 2;
    border: 1px solid #9eca16;
}

/* FADE OVERLAY FOR SCROLLING LISTS */

.dropdown.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;

	box-shadow: inset 0 -50px 30px -35px #fff;
}

.dropdown.scrollable.bottom div::after{
	opacity: 0;
}

/* DROP DOWN LIST */

.dropdown ul{
    padding: 0;
    margin: 0;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
}

.dropdown.scrollable.open ul{
	overflow-y: auto;
}

/* DROP DOWN LIST ITEMS */

.dropdown li{
	list-style: none;
	padding: 10px;
}

/* .focus class is also added on hover */

.dropdown li.focus{
	color: #9eca16;
}

.dropdown li.active{
	color: #9eca16;
}
